/*
* BURGER ICON STYLE
*/

.nav-burger-icon{
  padding:0!important;
  display:inline-block;
  width: @sidebarWidth!important;
  height: var(--header-height);
  transform: rotate(0deg);
  transition: .125s ease-in-out;
  cursor: pointer;
  position:relative;
  z-index:11;
  outline: 0;
}

.nav-burger-icon span{
  display: block;
  position: absolute;
  height: 3px;
  width: 24px;
  border-radius: 9px;
  opacity: 1;
  left: (@sidebarWidth - 24px) / 2;
  transform: rotate(0deg);
  transition: .125s ease-in-out;
}

.nav-burger-icon span:nth-child(1) {
  top: 17px;
}
.nav-burger-icon span:nth-child(2) {
  top: 23px;
}
.nav-burger-icon span:nth-child(3) {
  top: 23px;
  display: none !important;
}
.nav-burger-icon span:nth-child(4) {
  top: 29px;
}

.nav-burger-icon.open span:nth-child(1) {
  top: 15px;
  width: 0%;
  left: 50%;
}

.nav-burger-icon.open span:nth-child(2) {
  transform: rotate(45deg);
}

.nav-burger-icon.open span:nth-child(3) {
  display: block ! important;
  transform: rotate(-45deg);
}

.nav-burger-icon.open span:nth-child(4) {
  top: 6px;
  width: 0%;
  left: 50%;
}