/**
 *
 * @author Cantico
 * @license http://opensource.org/licenses/gpl-license.php GNU General Public License (GPL)
 * @copyright Copyright (c) 2006 by CANTICO ({@link http://www.cantico.fr;
 */
 
/*************************************************
    $   TABLE OF CONTENTS
*************************************************/
/*
    Variables                       ...45
    Generic less functions          ...71
    General                         ...94
    Header                          ...458
        Navigation bar              ...821
    Footer                          ...904
    Content                         ...910
    Sections                        ...1273
    Public core                     ...1681
        Articles                    ...1843
        Agenda / Calendar           ...1900
        Mail                        ...1926
        Forums                      ...1935
        Administration sites        ...2001
        FAQ / Notes                 ...2037
        Administration themes topic ...2056
        Orgcharts                   ...2072
        Debug panel                 ...2110
        List filter                 ...2238
        CRM                         ...2467
        Home page                   ...3367
        Popup menu                  ...3640
        Timelines                   ...3678
        Teams                       ...3778
        Orders                      ...3825
    Clipboard                       ...4099
    Sidebar                         ...4269
        Burger icon style           ...4305
        Functionnalities            ...4382
        Component                   ...4417
*/



/*************************************************
    $   Generic less functions
*************************************************/

/**
 * Applies a max width to the element. If the width sent equals 0, no max width is applyed.
 *
 * @param @width max width to apply to the element.
 */
.maxWidth(@width) when not (@width = 0) {
    width : @width;
    max-width: 100%;
}

/**
 * Applies a max width to the element. If the width sent equals 0, no max width is applyed.
 *
 * @param @width max width to apply to the element.
 */
.height(@height) when not (@height = 0) {
    height: @height;
}

/*************************************************
    $   CSS
*************************************************/

.htmlHeightIfMaxWidth(@width) when not (@width = 0) {
    height : 100%;
}

html {
    .htmlHeightIfMaxWidth(@maxWidth);
    background-color: #E0DED9;
}

body {
    margin: 0 auto;
    padding: 0;
    min-height: 100%;
    position: relative;
    font: 9.5pt @theme_dash_UsedGlobalFontName, "Open Sans", Arial, sans-serif;
    font-size-adjust:none;
}

h1, h2, h3, h4, h5, h6{
    font-family: @theme_dash_UsedTitleFontName, "Open Sans", Arial, sans-serif;
}

body#display_folder #ovfx_page h2 {
    display: none;
}

body#display_folder div.bab_content {
    padding: 0 20px !important;
}

.clear {
    clear : both;
}

textarea, select, input {
    font-size: 10pt;
    font-family:  inherit;
}

textarea {
    resize: vertical !important;
}

.ui-widget,
.crm-page .ui-widget {
    font-size: 9.5pt !important;
    font-family:  inherit !important;
}

.crm-page .ui-widget input,
.crm-page .ui-widget select,
.crm-page .ui-widget textarea,
.crm-page .ui-widget button {
    font-size: 10pt !important;
    font-family:  inherit !important;
}

.crm-page-editor .ui-widget {
    font-size: 10pt !important;
    font-family:  inherit !important;
}

.widget-suggestlineedit-menu .widget-suggestlineedit-link {
    font-size: 10pt !important;
    font-family:  inherit !important;
}

.widget-suggestlineedit-menu .widget-suggestlineedit-link em {
    font-weight: bold !important;
    font-style: normal;
}

.widget-suggestlineedit-menu .ui-state-default {
    border: 1px solid #fff !important;
    border-top: 1px solid #ccc !important;

    background: #fff !important;
}

.widget-suggestlineedit-menu .ui-state-default:FIRST-CHILD {
    border: 1px solid #fff !important;
}

textarea,
select,
input[type="text"],
input[type="number"],
input[type="time"],
input[type="password"],
input[type="checkbox"],
.widget-userpicker,
div.wysiwyg {
    border: 1px solid #ddd;
    padding-top: 1px;
    padding-bottom: 1px;

    background-color: #ffffff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    transition-duration: 0.5s;
    transition-property: box-shadow,background;
}

input[type="checkbox"] {
    box-shadow: none; 
}

textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="time"]:focus,
input[type="password"]:focus,
input[type="checkbox"]:focus {
    box-shadow: 0 0 2px rgba(0, 80, 200, 0.8);
    color: #000;
}

textarea,  input[type="text"], input[type="time"], input[type="password"], input[type="checkbox"] {
    min-height: 22px;
}

select {
    height: 22px;
}

.widget-section .widget-section-header {
    margin-bottom: 0;
}

.widget-section .widget-section-header h1,
.widget-section .widget-section-header h2,
.widget-section .widget-section-header h3,
.widget-section .widget-section-header h4,
.widget-section .widget-section-header h5,
.widget-section .widget-section-header h6 {
    margin: 0.1em 0;
    padding: 0;
}



.widget-bordered {
    border: 1px solid #FFFFFF;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}


.crm-page .widget-section .widget-section-header .widget-layout-flow-item {
    white-space:nowrap;
}

.crm-page .widget-section.compact  .widget-section-content {
    padding: 0;
}

.crm-page .widget-section .widget-section-content {
    padding: 4px 0 0 0;
}

.crm-page .widget-section.widget-foldable .widget-section-header {
    display: block !important;
}


textarea[disabled="disabled"],
select[disabled="disabled"],
input[disabled="disabled"] {
    border: 1px solid #eee;
    box-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
    color: darken(@mainColor, 10%);
    font-weight: normal;
}

h1, h2, h3, h4, h5 {
    margin: 0;

    text-shadow: #fff 0px 1px 1px;
}

h1 { font-size: 24pt; }
h2 { font-size: 16pt; }
h3 { font-size: 13pt; }
h4 { font-size: 11pt; }
h5 {
    font-weight: bold;
    font-size: 10pt;
}
h6 {
    margin: 0;

    color: #000;
    font-weight: bold;
    font-size: 9.5pt;
}

a img {
    border: 0;
}

h2.title,
h2.widget-title {
  padding: 2rem 2rem 1rem 2rem;
    text-shadow: 0 1px 1px #fff;
    font-weight: normal;
    font-size: 22px;
}
h1.title,
h1.widget-title {
  padding: 1em 0 0.5em 0;
    text-shadow: 0 1px 1px #fff;
    font-weight: normal;
    font-size: 26px;
}


div.bab-page-errormessage {
    background: none repeat scroll 0 0 rgba(210, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
    padding: 12px 24px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

body.login div.bab-page-errormessage {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 100, 100, 1);
}


#crm_page_info,
.crm-info,
div.bab-page-message {
  position: relative;
    background: none repeat scroll 0 0 rgb(250, 230, 170);
    box-shadow: 0 2px 5px #000;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
    padding: 12px 0;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    overflow: hidden;

/*
    position: absolute;
    z-index: 1;

    -webkit-animation-name: slideOut;
    -webkit-animation-iteration-count: once;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 3s;
    animation-name: slideOut;
    animation-iteration-count: once;
    animation-timing-function: ease-out;
    animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
 */
}
/*
@keyframes slideOut {
    0% {
        opacity:1;
    }
    90% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
*/

.icon_bar td {
    vertical-align: middle;
}

.icon_bar td a:focus {
    outline: none;
}

.icon_bar img {
    padding: 4px;
    width: 24px;
    height: 48px;

    position: relative;

    vertical-align: middle;
    opacity: 0.6;
    cursor: pointer;
}

#icon_bar_tooltip {
    padding-top: 4px;
    height: 1em;

    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
}

#user_name {
    padding: 0 .5em 0 0;
    line-height: 26px;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    font-variant: small-caps;
    text-shadow: 0 1px 1px #000, 0 1px 3px #000;
    float: right;

    a {
        color:#fff;
    }
}

#leftcontent_controller {
    width: 160px;

    cursor: pointer;
}

#rightcontent_controller {
    width: 160px;

    cursor: pointer;
}

#leftcontent {
    width: 200px;
}


.centercontent a {
    color: #000000;
}

#rightcontent {
    width: 160px;
}

.left_sections_container {
    background-color: #eeeeee;
}

.right_sections_container {
    background-color: #eeeeee;
}

/*************************************************
    $   Header
*************************************************/

.bannerImage() {}

.bannerImage() when not (@bannerImage = '') {
    background-image : url(@bannerImage);
}

#ovfx_head {
    margin: 0;
    border: 0;
    position: relative;
    background-color: @headerBackgroundColor;
    background-image: url(../../../../skins/theme_dash/images/bgHeader.png);
    background-repeat: repeat-x;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 0, rgba(255,255,255,0) 100px);
    background-size: cover;
    .bannerImage();
    vertical-align: top;
}

/* % Sitename *******************************/
#ovfx_head{
	min-height: var(--header-height);
}
#ovfx_head .site_title {
    margin-left : 6px;
    margin-bottom : 6px;
    float : left;
    height: var(--header-height);
    white-space: nowrap;
}

#ovfx_head .site_title img {
    margin: 0 20px 0 0;
    max-width: 100px;
    max-height: 100px;
    float: left;
}


#ovfx_head .site_title a {
    text-decoration: none;
}

#ovfx_head .site_title #main_title  {

    color: #ffffff;
    font-size: 34px;
    font-weight: 100;
    letter-spacing: -0.05em;
    text-shadow: #246 0px 1px 4px;

    opacity: 0.75;
    filter: alpha(opacity=40);
    zoom: 1;
}

#ovfx_head .site_title #main_title a {
    color : inherit;
    text-decoration : none;
}

/* % Site slogan ****************************/

#ovfx_head .site_title #sub_title  {

    color: #ffffff;
    font-weight: normal;
/*    letter-spacing: -0.05px; */
    text-shadow: #135 0px 1px 4px;

    opacity: 0.75;
    filter:alpha(opacity=50);
    zoom: 1;
}

#ovfx_head #site_info{
	display:none;
}
@media (min-width: 768px) {
	#ovfx_head #site_info{
		display:block;
		padding: 4px 16px;
		
		h1,h2{
		   display:inline-block;
		}
	}
}

/* % Top menu *******************************/



#top_menu > ul.sitemap-menu-root,
#user_menu > ul.sitemap-menu-root {
    padding: 0;
    margin: 0;
    display: inline;
    list-style-type: none;
}

#top_menu > ul li,
#user_menu > ul li {
    display : inline-block;
    margin : 0;
    vertical-align: top;
    text-align : center;
}



#top_menu > ul > li > ul:before,
#user_menu > ul > li > ul:before {
  border: 11px outset transparent;
  border-bottom: 11px solid rgba(75, 75, 75, 1);
  top: -22px;
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: 159px;
}



#top_menu > ul > li > ul,
#user_menu > ul > li > ul {
  text-align : left;
    display: inline-block;
    background: rgba(75, 75, 75, 1);
    border: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    position: absolute;
    z-index: 100;

  border-radius: 6px;
    width: 200px;
  padding: 6px;
  margin-top: -10px;
  margin-left: -130px;
  visibility: hidden;
    opacity: 0;
    transition-duration: 0.25s;
  transition-delay: 0.1s;
}
#user_menu > ul > li > ul {
  top: 32px;
}


#top_menu > ul > li > ul ul ul,
#user_menu > ul > li > ul ul ul {
  display: none;
}

#top_menu > ul > li:hover > ul,
#user_menu > ul > li:hover > ul {
    margin-top: 0px;
  visibility: visible;
    opacity: 1;
}

#top_menu ul > li.cols2 > ul,
#user_menu ul > li.cols2 > ul {
  width: 450px;
  margin-left: -420px;
}
#top_menu > ul > li.cols2 > ul:before,
#user_menu > ul > li.cols2 > ul:before {
  left: 409px;
}


#top_menu ul > li.merged > ul > li,
#user_menu ul > li.merged > ul > li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 8px;
    padding-top: 4px;
}
#top_menu ul > li.merged > ul > li:first-child,
#user_menu ul > li.merged > ul > li:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}

#top_menu ul > li.cols2 > ul > li,
#top_menu ul > li.cols2 > ul > li:first-child,
#user_menu ul > li.cols2 > ul > li,
#user_menu ul > li.cols2 > ul > li:first-child {
    border-top: none;
    margin: 4px 0 8px 0;
    padding: 4px 0 0 0;
    float: left;
    width: 50%;
}

#top_menu ul > li.merged > ul > li > ul,
#user_menu ul > li.merged > ul > li > ul {
  margin: 0;
  padding: 0;
    box-shadow: none;
    background: transparent;
}
#top_menu ul > li.merged:hover > ul > li > ul,
#user_menu ul > li.merged:hover > ul > li > ul {
  position: static;
  visibility: visible;
    opacity: 1;
}


#top_menu ul > li > ul > li,
#user_menu ul > li > ul > li {
  display: block;
    margin : 0;
}
#top_menu ul > li > ul > li > .icon,
#user_menu ul > li > ul > li > .icon {
  display: block;
    width: auto;
    padding: 4px 12px;
    background-image: none;
    text-align: left;
  transition: none;
}
#top_menu ul > li > ul > li > .icon::before,
#user_menu ul > li > ul > li > .icon::before {
    content: "";
}
#top_menu ul > li > ul > li > .icon:hover,
#user_menu ul > li > ul > li > .icon:hover {
  background: transparent;
  box-shadow: none;
}

#top_menu ul > li > ul > li > a.icon:hover,
#user_menu ul > li > ul > li > a.icon:hover {
  background-color: rgb(60, 120, 240);
  box-shadow: none;
}

#top_menu ul > li > ul > li > span,
#user_menu ul > li > ul > li > span {
  opacity: 0.5;
  font-weight: bold;
}

.menuTitle {
    position: absolute;
    top: -4px;
    right: 0px;
    width: 40%;
    
    > h2 {
        margin-top:0 !important;
        color:#000;
        font-size:14px;
        padding:0 1em 0 0;
        display:inline-block;
    }
    
    > em {
        font-size:10px;
        display:inline-block;
    }
}



#top_menu {

    color : white;
    text-align:right;
    position: absolute;
    right: 0;
    left: 280px;
    top: 20px;

  a {
    color: inherit;
  }


    .icon {
        display: block;

        width: 84px;

        padding-bottom: 10px;

    border-radius: 4px;

        background-position: top center;
        background-repeat: no-repeat;

        text-decoration: none;
        text-shadow: 0 1px 1px #000000, 0 1px 3px #000000;

        transition: background-color 1s;

        &:hover {
/*          padding-top: 54px; */
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
        }


    }

}

#user_menu {

  display: inline-block;
    color : white;
    text-align:right;
    vertical-align: middle;
  a {
    color: inherit;
  }
  ul {
    background: none;
    border: none;
  }
  ul li {
    border: none;
    vertical-align: text-bottom;
    text-align: left;
  }

  ul li a {
    display: block;
    height: 30px;
    line-height: 30px;
    min-width: 0;
    padding: 0;
  }
    .icon {
        display: block;

        background-position: top center;
        background-repeat: no-repeat;

        text-decoration: none;
        text-shadow: 0 1px 1px #000000, 0 1px 3px #000000;

        transition: background-color 1s;

        &:hover {
/*          padding-top: 54px; */
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
        }


    }

}


/* % Navigation bar *************************/

.navigation_bar {
  position: relative;
/*     margin-top : 20px; */
    padding : 0;
    height: @navigationbarHeight;
    clear : both;
    background-color: @headerBackgroundColor;    
}

/* % Tabs ***********************************/

ul.ui-tabs-nav,
.navigation_bar ul {
	display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.ui-tabs-nav li,
.navigation_bar ul li {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    line-height: 40px;
    padding: 0px 20px;
    border-bottom: 3px solid transparent;
    color: rgba(0,0,0,0.5);
    font-size: 14px;
}

ul.ui-tabs-nav li.active,
.navigation_bar ul li.active {
    margin: 0;
    min-width: 70px;
    background: transparent;
    border-bottom-color: @mainColor;
    position: relative;
    color: #000;
}

ul.ui-tabs-nav li a,
.navigation_bar ul li a {
    display: block;
    min-width: 70px;
    text-decoration: none;
    color: rgba(0,0,0,0.5);
}

ul.ui-tabs-nav li a:hover,
.navigation_bar ul li a:hover {
    background-color : rgba(255,255,255,0.2);
}


/* % Formulaire de recherche ****************/

.navigation_bar form {
    position: absolute;
    right: 0;
    line-height:30px;
}

/*************************************************
    $   Footer
*************************************************/

@import url('footer.less');

/*************************************************
    $   Content
*************************************************/


#ovfx_page {
    min-height: 350px;
    padding-bottom: 2em;
}
/*
.bab_content {
    background: #F7F8FA;
}
*/
.content-wrap{
	display:inline-block;
}
.centered-box {
    margin: 0 auto;
    position: relative;
    .maxWidth(@maxWidth);

}


#ovfx_page table {
    text-align: left;
}


/* % Breadcrumb *****************************/

.breadcrumb {

    color : #666;
    text-shadow: 0 1px #fff;
    font-size: 90%;
}

.breadcrumb ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.breadcrumb ul li {
    position: relative;
    float : left;
}

.breadcrumb ul li::before {
    content : '>';

    display: inline-block;
}

.breadcrumb ul li:first-child::before {
    content : '\0020';
}

.breadcrumb ul li a,
.breadcrumb ul li span {
    display : inline-block;
    padding : 5px 10px;
    height : 20px;

    color : inherit;
    line-height : 20px;
    text-decoration: none;
}

.breadcrumb ul li a:hover {
    color : white;
}




/* % Homepage *******************************/


.columns {
  margin: 0 -1%;
}
.columns .column {
  padding : 0 1%;
    box-sizing: border-box;
    border-left: 2px dotted rgba(0, 0, 0, 0.1);
    float : left;
}
.columns .column:first-child {
  border-left: none;
}

.home .columns-4 .column,
.home .columns-3 .column,
.home .columns-2 .column,
.home .columns-1 .column {
    width : 100%;
}


@media screen and (min-width: 40.5em) {

  .columns {
    margin: 0 -1%;
  }
  .columns .column {
    padding : 0 1%;
    box-sizing: border-box;
    border-left: 2px dotted rgba(0, 0, 0, 0.1);
    float : left;
  }
  .columns .column:first-child {
    border-left: none;
  }

  .home .columns-4 .column {
      width : 25%;
  }

  .home .columns-3 .column {
      width : 33.33%;
  }

  .home .columns-2 .column {
      width : 50%;
  }

  .home .columns-1 .column {
      width : 100%;
  }

}

#ovfx_menu {
    padding-top: 16px;
    width: 100%;
    height: 20px;

    font: normal 15px "Arial";
}

#ovfx_menu ul {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    height: 16px;

    position: absolute;
    top: 0px;
    right: 0px;

    background: #fff url('../../../../skins/theme_dash/images/btn_2.gif') no-repeat 0 0;
}

#ovfx_menu li {
    display:inline;
}

#ovfx_menu li a {
    display:block;
    border-right:#4C4C4C 1px dotted;
    padding-top:2px;
    padding-right:9px;
    padding-left:9px;
    height:16px;

    float:left;

    background:#fff url('../../../../skins/theme_dash/images/btn_3.gif') repeat-x 0 0;
    color:#039;
    text-decoration:none;
}

#ovfx_menu li.last a {
    border-right: none;
}

#ovfx_menu li a:hover {
    background-color: #039;
    color: #fff;
}

#ovfx_menu span {
    display: block;
    margin-left: 20px;

    position: relative;

    color: #ffffff;
}

#ovfx_menu span a {
    color: #ccccee;
    text-decoration: none;
    font-weight: normal;
}

#ovfx_menu span a:hover {
    color: #ffffff;
}


#bab_page_tabs > table {
    margin: 0;
    padding: 0;

    background: transparent url('../../../../skins/theme_dash/images/tab.png') repeat-x 0px 4px;

}

#ctx_menu {
    width: 100%;

    background: url('../../../../skins/theme_dash/images/tab.png') repeat-x scroll 0px 4px transparent;
}

#ctx_menu td.tab {
    background: transparent url('../../../../skins/theme_dash/images/unselected_tab.png') no-repeat 0px 4px;
}
#ctx_menu td.tab a {
    display: block;
    padding: 6px 10px 2px 10px;
    min-width: 160px;

    color: #fff;
    font-weight: bold;
    font-size: 105%;
    text-align: center;
    text-decoration: none;

    opacity: 0.75;
    filter: alpha(opacity=75);
}
#ctx_menu td.tab:hover {
    background: transparent url('../../../../skins/theme_dash/images/hovered_tab.png') no-repeat 0px 4px;

    color: #ffffff;
}
#ctx_menu td.tab_initial,
#ctx_menu td.tab_initial:hover {
    min-width: 28px;

    background: transparent url('../../../../skins/theme_dash/images/unselected_tab.png') no-repeat 0px 4px;

    white-space: nowrap;
}
#ctx_menu td.tab_final,
#ctx_menu td.tab_final:hover {
    width: 100%;

    background: transparent url('../../../../skins/theme_dash/images/unselected_tab.png') no-repeat 0px 4px;
}


#ctx_menu td.selected,
#ctx_menu td.selected:hover {
    background: transparent url('../../../../skins/theme_dash/images/selected_tab.png') no-repeat top left;

    color: #ffffff;
    font-weight: bold;
}
#ctx_menu td.selected a {
    font-size: 110%;

    opacity: 1;
    filter: alpha(opacity=100);
}

#ctx_menu .tab a:hover {
    color: #ffffff;
    text-decoration: none;

    opacity: 1.0;
    filter: alpha(opacity=100);
}

#bab_main_toolbar {
    margin: 0;
    padding: 2px;

    background-color: #333;

    color: #fff;
}

#bab_main_toolbar a, .bab_main_toolbar a:visited, .bab_main_toolbar a:active {
    color: #ccc;
    text-decoration: none;
}

#bab_main_toolbar .widget-icon {
    border: 2px solid #2e2e2e;
    border-radius: 5px;
    background-color: #2e2e2e;
    transition-duration: 0.5s;
    transition-property: border, background-color, text-shadow, color;
}

#bab_main_toolbar .widget-icon:hover {
    outline: none;
    border: 2px solid #08f;

    background-color: #000;
    color: #fff;
    text-shadow: #fff 0 0 3px;
}

#bab_main_toolbar .widget-link:hover .widget-icon .widget-icon-label {
    text-decoration: none;
}

#bab_main_toolbar td, #bab_main_toolbar td img, #bab_main_toolbar td a, #bab_main_toolbar td span {
    vertical-align: middle;
}

#bab_main_toolbar td img {
    margin-right: 4px;
}

.bab_foldable {
    border-bottom: 1px solid #dddddd;

    cursor: pointer;
}

.bab_foldable:hover {
    background-color: #dddddd;
}

.bab_foldable.bab_open {
    padding-left: 12px;

    background-image: url('../../../../skins/theme_dash/images/open.png');
    background-position: center left;
    background-repeat: no-repeat;
}

.bab_foldable.bab_closed {
    padding-left: 12px;

    background-image: url('../../../../skins/theme_dash/images/closed.png');
    background-position: center left;
    background-repeat: no-repeat;

    color: #aaaaaa;
}

address a:link, address a:visited {
    color: #777;
}

/*************************************************
    $   Sections
*************************************************/

.bab_section {
    margin-bottom: 0px;
    border: 0;
    padding-bottom: 0.5em;

    background-color: #e2e2e2;
}

.bab_section .bab_content {
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #cccccc;

    background: #e2e2e2 url('../../../../skins/theme_dash/images/section_bottom_bg.png') repeat-x top left;
}

.bab_section .bab_title {
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #cccccc;

    background: #e2e2e2 url('../../../../skins/theme_dash/images/section_top_bg.png') repeat-x bottom left;

    color: #000000;
}

/* % Section title **************************/

.bab_section .bab_title {
    border: 0;

    cursor: pointer;
}
.bab_section .bab_title:hover {
    background: #cccccc;
}

.bab_section .bab_title h4 {
    margin: 0;
    padding: 4px 0px 4px 4px;
    width: 80%;

    font-weight: bold;
    font-size: 1em;
}


.bab_section .bab_title .nolink {
    display:none;
}

.bab_section .bab_title a {
    margin: 3px;
    width: 12px;
    height: 12px;

    position: relative;
    float: left;

    background-repeat: no-repeat;
}

.bab_section .bab_title a.open {
    background-image: url('../../../../skins/theme_dash/images/closed.png');
}

.bab_section .bab_title a.close {
    background-image: url('../../../../skins/theme_dash/images/open.png');
}

.bab_section .bab_title a.open:hover {
}

/* % Section content ************************/

.bab_section .bab_content ul {
    margin: .3em 0 0 0;
    padding: 0;

    list-style-type: none;
}

.bab_section .bab_content ul a {
    display: block;
    padding: 2px 1px 2px 10px;

    color: #777777;
    text-decoration: none;

    opacity: 0.8;
    filter: alpha(opacity=80);
}

.bab_section ul a:hover {
    background-color: #000000;

    color: #ffffff;
}

.bab_section ul li {
    display:inline;
    }

.bab_section .bab_content h5 {
    margin: 0;
    padding: 1em 0.5em 0.5em 0.5em;

    text-align:center;
    font-weight:normal;
    font-size: 0.9em;
}

.bab_section table a:link,
.bab_section table a:visited {
    color:#039;
}

.bab_section table a:hover {
    background-color:#D2EAFF;
    text-decoration:none;
}

/* % User section ***************************/

.bab_section.bab_usersection {
    background-color: #8eba6b;
}

.bab_section.bab_usersection .bab_content {
    border-top: 1px solid #9fcb7c;
    border-bottom: 1px solid #5e913e;

    background: #8eba6b url('../../../../skins/theme_dash/images/user_bottom_bg.png') repeat-x top left;
}

.bab_section.bab_usersection .bab_title {
    border-top: 1px solid #9fcb7c;
    border-bottom: 1px solid #5e913e;

    background: #8eba6b url('../../../../skins/theme_dash/images/user_top_bg.png') repeat-x bottom left;

    color: #ffffff;
}

.bab_section.bab_usersection .bab_title:hover {
    background: #5e913e;
}

.bab_section.bab_usersection ul a,
.bab_section.bab_usersection ul a:visited,
.bab_section.bab_usersection ul a:link {
    color: #ffffff;
}

.bab_section.bab_usersection ul .addon a {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.bab_section.bab_usersection ul a:hover {
    background-color: #5e913e;
}

/* % Admin section **************************/

.bab_section.bab_adminsection {
    background-color: #a36ebd;
}

.bab_section.bab_adminsection .bab_content {
    border-top: 1px solid #b47fce;
    border-bottom: 1px solid #652b80;

    background: #a36ebd url('../../../../skins/theme_dash/images/admin_bottom_bg.png') repeat-x top left;
}

.bab_section.bab_adminsection .bab_title {
    border-top: 1px solid #b47fce;
    border-bottom: 1px solid #652b80;

    background: #a36ebd url('../../../../skins/theme_dash/images/admin_top_bg.png') repeat-x bottom left;

    color: #ffffff;
}

.bab_section.bab_adminsection .bab_title:hover {
    background: #652b80;
}

.bab_section.bab_adminsection ul a,
.bab_section.bab_adminsection ul a:visited,
.bab_section.bab_adminsection ul a:link {
    color: #ffffff;
}

.bab_section.bab_adminsection ul a:hover {
    background-color: #652b80;
}

#bab_montha {
    border-bottom:#fc3 1px solid;

    background-color:#FFFBED;
}

#bab_montha .bab_title {
    background-color:#fc3;
}

#bab_montha table {
    margin:0 auto;
    border-collapse:collapse;
    padding:0px;
    width:95%;
}

#bab_montha thead td {
    border-bottom:#ccc 1px solid;

    font-weight:bold;
}

#bab_montha td {
    padding:1px;

    text-align:center;
}

.BabCalendarCurrentDayNumberSection {
    border:#ccc 1px solid;

    background-color:#D2EAFF;
}

/* % Topics section *************************/

.bab_section.bab_topicssection {
    background-color: #919191;
}

.bab_section.bab_topicssection .bab_content {
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #707070;

    background: #919191 url('../../../../skins/theme_dash/images/topicssection_bottom_bg.png') repeat-x top left;
}

.bab_section.bab_topicssection .bab_title {
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #707070;

    background: #919191 url('../../../../skins/theme_dash/images/topicssection_top_bg.png') repeat-x bottom left;

    color: #ffffff;
}

.bab_section.bab_topicssection .bab_title:hover {
    background: #707070;
}

#leftcontent #bab_topicssection .bab_content li a {
    margin-bottom:1px;
    padding:5px 5px 5px 5px ;

    background: transparent url('../../../../skins/theme_dash/images/puce2.gif') no-repeat 95% 50%;

    color: #fff;
}

#leftcontent #bab_topicssection .bab_content li a:hover {
    background:#039 url('../../../../skins/theme_dash/images/puce3.gif') no-repeat 95% 50%;

    color:#ddd;
}

/* % Calendar ++ ****************************/

.bab_content #bab_calmonth {
    border: 1px solid #ffffff;
}

.bab_content #bab_calmonth thead td {
    border: 1px solid #ffffff;
    padding: 3px;

    background: transparent url('../../../../skins/theme_dash/images/list_header_bg.png') repeat-x 0 0;
}

.bab_content #bab_calmonth tbody td {
    border: 1px solid #ffffff;
    padding: 3px;
}

.bab_cal_buttons {
    margin-top:.5em;
    padding:.6em 0;

    background-color:#eee;
}


/* % Fileman ++ *****************************/

body.fileman#list .centercontent .bab_content a {
    text-decoration:none;
}

body.fileman#list .centercontent .bab_content a:hover {
    color:#f60;
}


/* topic */

#BabCategTitleNavigation {
    margin:.5em .5% ;
    border:#B9D987 1px solid;

    background-color:#F7FFEB;
}

#BabCategTitleNavigation table {
    border-collapse:collapse;
    width:100%;
    height:20px;
}

#BabCategTitleNavigation td {
    margin:0;
    border:0;
    padding:0;
    padding-left:.5em;
}

#BabCategTitleNavigation p {
    margin:3px 4px;
    padding:.2em .5em;
}

#BabCategTitleNavigation a {
    color:#000;
    text-decoration:none;
}

#BabCategTitleNavigation a:hover {
    color:#930;
}

#BabCategTitleNavigation .bab_buttons a {
    display:block;
    text-align:center;
    width:8em;
    background-color:#B9D987;
    margin:3px 4px;
    padding:.2em .5em;
    border:#879E63 1px solid;
}

#BabCategTitleNavigation .bab_buttons a:hover {
    border:#F09C18 1px solid;

    background-color:#fc3;
}


ul.BabCategTitleNavigation {
    margin: 2.5em 15%;
    border: #039 2px solid;
    padding: 2.5em;

    background-color:#BFD7EF;

    color:#039;
    list-style-type:square;
}

ul.BabCategTitleNavigation li {
    padding-bottom:.5em;
    }

ul.BabCategTitleNavigation li a,
ul.BabCategTitleNavigation li a:visited {
    color:#000;
    text-decoration: none;
    font-size:1.2em;
}

ul.BabCategTitleNavigation li a:hover {
    text-decoration: underline;
}

ul.BabCategTitleNavigation ul {
    margin:0;
    padding:0;
    padding-left: 1em;

    list-style-type:none;
    font-weight: normal;
    font-style: italic;
}


body.page.articles .bab_repeat {
    margin:.5em 0;
}

/*************************************************
    $   Public core
*************************************************/

.BabCalendarBodyBadMonthBackground {
    background-color: #ccc;
}

.BabContentBackground,
.BabMenuActiveBackground {
     background-color: #fff;
     color:#000;
}

.BabCalendarMenuActiveBackground {
    background-color: #fff;
    color: #116;
    font-weight: bold;
}

.BabLoginMenuBackground {
    border: 1px solid lighten(desaturate(@mainColor, 50%), 40%);
    padding: 1em;
    background: linear-gradient(to top, lighten(desaturate(@mainColor, 50%), 50%), lighten(desaturate(@mainColor, 50%), 45%));
    background: linear-gradient(to top, lighten(desaturate(@mainColor, 50%), 57%), lighten(desaturate(@mainColor, 50%), 52%));
    color: #000000;
}
.BabLoginMenuBackground > tbody > tr > td {
	padding: 5px;
}

.BabBodyTitleBackground {
    padding: 0.2em;

    background-color: #000000;

    color: #ffffff;
    font-weight: bold;
}

.BabLoginMenuBackground a {
    text-decoration:none;
    font-weight:bold;
}

.BabLoginMenuBackground a:hover {
    color:#000;
    text-decoration:underline;
}

.BabSiteAdminFontBackground,
.BabTopicsBackground,
.BabTopicsButtonBackground {
    background-color: #ffffff;
    color: #000;
}

.BabLoginCadreBackground .BabSiteAdminFontBackground {
    background-color: #f9f9f9;
}


.Babhighlight {
    background-color: #f00;
}

/* % Background and font error messages *****/

.BabErrorMessage {
    background-color: #fff;

    color: #f33;
    font-weight: bold;
}

.BabWarningBodyBackground  {
    background-color: #fff;

    color: #000;
    font-weight: bold;
}

.BabWarningBodyBackground a:Link,
.BabWarningBodyBackground a:Visited {
    color: #00c;
    font-weight: bold;
}

.BabWarningBodyBackground a:Hover {
    color: #FF3333;
}

/* admin letterlist users/contacts */
.BabLetterlists {
    background-color: #FFFFFF;
    color: #000000;
    font-weight: bold;
    }

.BabLetterlists a:link,
a.BabAlphabetLink:Link,
a.BabAlphabetLink:Visited {
    color: #009933;
    font-weight: bold;
    }
.BabLetterlists a:Hover,
a.BabAlphabetLink:Hover {
    color: #000;
    }

a.BabNameEmailLink,
a.BabNameEmailLink:Link,
a.BabTitleSmall,
a.BabTitleSmall:Link {
    color: #000000;
    }
a.BabNameEmailLink:Hover,
a.BabTitleSmall:Hover {
    color: #0000CC;
    }



/* notes,faq,eventeditor,vacation */
a.BabEventFaqLink,
a.BabEventFaqLink:Link {
    color: #009933;
    font-weight: bold;
    }

a.BabEventFaqLink:Hover {
    color: #FF3333;
     }

a.BabContentLinkColor:Link,
a.BabContentLinkColor:Visited,
a.BabSummaryLinkColor:Link,
a.BabSummaryLinkColor:Visited {
    color: #0000CC;
    }
a.BabContentLinkColor:Hover,
a.BabSummaryLinkColor:Hover,
.BabSummaryNbrMessage {
    color: #FF3333;
    }





/**************** ARTICLES ****************************/

/* titles */
.BabTopicsTitleBackground {
    padding:.05em .5em;

    background-color: #fc3;
    color: #000;
    font-weight: bold;
    }
/* font and background articles */

.BabTopicsAuthorBackground {
    border-bottom:#ccc 1px solid;
    }

.BabMonthCalendarCurentDayBackground {
    background-color: #E6E6F7;
    color: #000000;
    }

.BabArticleSpacing {
    height: 5px;
    }

a.BabTopicsFooterLink,
a.BabTopicsFooterLink:Link,
a.BabTopicsFooterLink:Visited {
    color: #4990B1;
    text-decoration: none;
    }

a.BabTopicsFooterLink:Hover {
    text-decoration: underline;
    }


.BabTopicsAuthorBackground {
    padding:0;
    padding-top:5px;
    }



a.BabTopicsFooterMoreLink:Link,
a.BabTopicsFooterMoreLink:Visited {
    margin-right:1em;
    border:#ccc 1px solid;
    border-width:1px 1px 0 1px;
    padding:1px 4px;

    position:relative;

    background:#fff;
    color: #000;
    text-decoration: none;
    font-weight:bold;
    }


a.BabTopicsFooterMoreLink:Hover {
    border-color:#fc3;

    background-color:#fc3;
    }

.BabTopicsTitleNavigation {
    color: #555;
    text-decoration: underline;
    font-weight: bold ;
    }


/********** AGENDA **** CALENDAR ******************************/



.BabCalendarBodyBackground,
.Blackbg {
    background-color: #000000;
    }



/*names of the days on top of monthcalendar*/
.BabCalendarDays {
    background-color: #181A91;
    color: #FFFFFF;
    font-weight: bold;
    }

.BabMonthCalendarEventHourfont {
    background-color: #FFFFFF;
    color: #009933;
    }




/***************** MAIL ******************************/

/* white background  in use on inbox  groups  - plus links */
.BabMailBackground {
    background-color: #FFFFFF;
    color: #000000;
}


/***************** FORUMS**********************************/

/*threads*/
.BabForumBackground,
.HeaderDayCalendar {
    background-color: #F9F9F9;
    }
.BabForumBackground1 {
    background-color: #F0F0F0;
}



a.BabForumNavigation,
a.BabForumNavigation:Link,
a.BabForumNavigation:Visited {
    color: #111166;
    font-weight: bold;
    }

a.BabForumNavigation:Hover {
    color: #009933;
    }

 /*posts*/
.BabForumTopicsNavTitle,
.BabForumTopicsNavDate,
.BabForumTopicsNavAuthor {
    background-color: #E6E6F7;
    color: #111166;
    font-weight: bold;
    }

a.BabForumTopicsConfirm,
a.BabForumTopicsConfirm:Link,
a.BabForumTopicsConfirm:Visited {
    color: #4990B1;
    text-decoration: none;
    }
a.BabForumTopicsConfirm:Hover
    {
    text-decoration: underline;
    }

a.BabForumTopicsNavContribution:Link,
a.BabForumTopicsNavContribution:Visited {
    color: #000000;
    }
a.BabForumTopicsNavContribution:Hover {
    color: #0000CC;
    }

.BabForumTopicsNavTreeBody {
    background-color:#FFFFFF;
    color: #000000;
    font-weight: bold;
    }


.BabForumTopicsNavTreeLive {
    background-color:#FFFFFF;
    color:#FF3333;
    font-weight:bold;
    }


/************* ADMINISTRATION SITES*************/

.BabSiteAdminTitleFontBackground,
.BabFaqTitleFontBg,
.BabTopicsAdminListTitle {
  background: #F7F7F7;
  background-image: linear-gradient(to bottom, #FFFFFF, #EEEEEE) !important;
  color: #777777;
  font-weight: bold;
  text-align: left;
  text-shadow: 0 1px 0 #FFFFFF;
}

.centercontent .BabSiteAdminTitleFontBackground a,
.centercontent .BabFaqTitleFontBg a,
.centercontent .BabTopicsAdminListTitle a {
    color: #777777;
    text-decoration: none;
}



.BabSiteAdminSmall {
    background-color: #D1D1D9;
    color: #111166 ;
    font-weight: bold;
    }


.BabSiteAdminFont {
    color: #000;
    }


/********* FAQ **** NOTES ********************************/
a.BabFaqLink,
a.BabFaqLink:Link,
a.BabFaqLink:Visited {
    color: #0000CC;
    font-weight: bold;
    }

a.BabFaqLink:Hover {
    color: #FF3333;
    }

.BabFaqQuestion {
    background-color: #FFFFFF;
    color: #0000CC;
    font-weight: bold;
    }


/********** ADMINISTRATION THEMES TOPICS **********/


a.BabTopicsAdminTitleLink,
a.BabTopicsAdminTitleLink:Link,
a.BabTopicsAdminTitleLink:Visited {
    color: #111166;
    font-weight: bold;
    }

a.BabTopicsAdminTitleLink:Hover {
    color: #009933;
}



/******** orgcharts ********/

body .orgchartcontainer {
    position: static;
}
body .orgchart {
    padding-bottom: 2em;

    position: static;

    background: transparent;
    font-size: 8px;
}

body .orgchart div.entity {
    border: 0.5em solid black;
    border-radius: 1em;
}
body .orgchart div.entity.highlighted {
    border-color: #e80;

    background-color: #fa0;
}
body .orgchart div.entity.highlighted * {
    color: #000 !important;
}

body .orgchart div.entity > b {
    font-size: 150%;
}

body .orgchart div.entity.highlighted div.members {
    display: default;
}

/********** DEBUG PANEL **********/

#BAB_DEBUG_link {
    border: 1px solid rgba(200,200,200,.8);

    position: absolute !important;
    top: -155px !important;
    right: 0 !important;

    border-radius: 0 0 8px 8px;
     background-color: rgba(0,0,0,.3) !important;
    color: #ffffff !important;
    opacity: 0.5;
}

#BAB_DEBUG_link:hover {
    opacity: 1;
    top: -150px !important;
}
#BAB_DEBUG {
    margin: 0em !important;
    padding: 1em !important;

    position: absolute !important;
    top: 96px !important;
    right: 0 !important;
    left: 0 !important;

    z-index: 1000 !important;
    background-color: #ffffff !important;
    color: #000000 !important;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

/********** ORG CHART **********/
/*
.level4.vertical div.entity {
    outline-width: 0;
    border:0;
    width:14em;

    background-color: #4292c2;
    color:black;
}

.level4.vertical div.entity div.members {
    background: transparent;
}

.level5.vertical div.entity {
    background-color: #3282b2;
}

.level3.vertical div.entity table img {
    display: none;
}

.level4.vertical div.entity table img {
    display: none;
}*/

.bab_treeToolbar,
.bab_treeLocationBar {
    background-color: #1e6a91;
    color: #ffffff;
}

.bab_treeLocationBar .bab_treeLocationElement {
    padding-top: 0;
    padding-bottom: 0;
}
.bab_treeToolbar .bab_toolbarButton:hover,
.bab_treeLocationBar .bab_treeLocationElement:hover {
    background-color: #3e8ab1;
}

/*span.level2.entity {
    font-weight: bold;
}

span.level3.entity {
    font-weight: normal !important;
}

span.level4.entity {
    color: #777777;
    font-weight: normal !important;
}
span.level5.entity {
    color: #aaaaaa;
    font-weight: normal !important;
}*/
.bab-frame .bab-section .bab-configuration-panel {
    padding-bottom: 48px;

    background: transparent url("../../../../skins/theme_dash/images/marquee_div.png") no-repeat scroll center bottom;
}

.ui-datepicker {
    z-index: 2;
}

.ui-datepicker-calendar .widget-highlight {
    background-color: fade(@mainColor, 7);
}

#calendar_explorer .ui-datepicker-calendar td:hover {
    background-color: fade(@mainColor, 15) !important;
}

#ovfx_foot {
    display: none;
}


html > body .crm-page {
}



/*
 *
 * List filters.
 *
 */

html .widget-filter .filter {
    border: none;
    background: transparent;
    font-weight: normal;
    padding: 1em 0;
}
.crm-page-list .widget-filter {
    border-radius: 0;
    background: transparent;
}






.widget-page-previous,
.widget-page-next {
    border: none !important;
    padding: 0 6px !important;

    background: transparent;
    font-size: 120%;
    opacity: 0.4;
}
a.widget-page-previous,
a.widget-page-next {
    text-decoration: none;
    font-weight: bold;
    opacity: 1;
}
a.widget-page-previous:hover,
a.widget-page-next:hover {
    background: #eee !important;
}
.widget-filter .widget-pageselector a:focus {
    outline: 1px solid #ace;
}
.widget-page-number {
    margin: 0 3px 5px 3px !important;
    border: none !important;
    padding: 2px 6px !important;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .4);
    vertical-align: top;
    text-decoration: none !important;
}
a.widget-page-number:hover {
    background: #eee !important;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
    font-weight: bold;
}
.widget-page-number-current {
    margin: 0 6px 5px 6px !important;
    border: none !important;
    padding: 2px 12px !important;

    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #fff !important;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .4);
    color: #000 !important;
    vertical-align: top;
    text-decoration: none !important;
    font-size: 130%;
}


.widget-table-row {
    background: #fff;
	color: #222;
}

.widget-table-section.widget-table-header tr.widget-table-row {
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.05), rgba(0,0,0,0.05));
    color: #000;
    font-weight:bold;
}

.widget-table-section .widget-table-row:hover {
    background-color: rgba(192, 208, 224, 0.1);
}
.widget-table-section .widget-table-row:hover > td {
    border-bottom-color: 
    rgb(192, 208, 224);
}
.widget-table-section .widget-table-row:hover > td.widget-table-column-sorted-asc,
.widget-table-section .widget-table-row:hover > td.widget-table-column-sorted-desc {
    background-color: rgba(192, 208, 224, 0.15);
}
.widget-tableview .widget-table-section.widget-table-header .widget-table-row td.widget-table-column-sorted-asc,
.widget-tableview .widget-table-section.widget-table-header .widget-table-row td.widget-table-column-sorted-desc {
    background-color: rgba(0, 0, 0, 0.025);
}
.widget-tableview .widget-table-section .widget-table-row.widget-tableview-subtotal {
/*    background-color: rgba(0, 128, 255, 0.025) !important; */
    background-color: hsl(360, 70%, 95%) !important;
    font-weight: bold;
/*    border-bottom: 2px solid #0af; */
    border-bottom: 2px solid hsl(360, 70%, 75%);
    color: hsl(360, 70%, 60%);
}
.widget-tableview .widget-table-section .widget-table-row.widget-tableview-total {
    background-color: hsl(360, 70%, 90%) !important;
    color: hsl(360, 70%, 50%);
    font-weight: bold;
}


.portlet-container-item .box.portlet-frame {
    padding: 10px;
}
.portlet-container-item .box.portlet-frame .portlet-frame-title {
    padding: 0;
}
    

a.widget-link {
    display: inline-block;
}




th.ui-datepicker-week-col, td.ui-datepicker-week-col {
  font-size: 90%;
  opacity: 0.3;
  font-weight: bold;
  text-align: center;
  border-right: 1px dotted rgba(0, 0, 0, 0.1) !important;
  width: 2.5em;
/*  background: rgba(0,0,0,0.05); */
}

th.ui-datepicker-week-col {
  font-size: 75%;
}




/* OVIDENTIA TABLES */


.widget-babtableview {
    border: none;
}
.BabLoginCadreBackground table,
.widget-babtableview table {
    width: 100%;
    border-collapse: separate;
    border: none;
    border-right: none;
}

.BabLoginCadreBackground table tr.BabSiteAdminTitleFontBackground,
.widget-babtableview table tr.BabSiteAdminTitleFontBackground {
    font-weight: bold;
}

.BabLoginCadreBackground table tr > td,
.widget-babtableview table tr > td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    border-left: none;
}
.BabLoginCadreBackground table tr.BabSiteAdminTitleFontBackground > td,
.widget-babtableview table tr.BabSiteAdminTitleFontBackground > td {
    border-bottom: 2px solid #ddd;
}



/* CRM */

#crm_main_panel {
    padding: 2rem 0;
}
@media (min-width: 768px) {
  #crm_main_panel {
      padding: 2rem;
  }
}
.crm-actions a.widget-link,.crm-actions .widget-frame {

  display: block;
  border: 1px solid #F7F7F7;
  box-shadow: 0 0 1px;
  border-radius: 4px;
  padding: 2px 8px;
  white-space: nowrap;
  color: #333;
  text-shadow: 0 1px 0px #fff;
  background-color: #dddddd;
  background-image: linear-gradient(to bottom,#eeeeee,#dddddd);
  margin: 1px 0;
  }

.crm-actions .widget-filepicker-add,.widget-menu .widget-filepicker-add {
  padding: 0!important;
  margin: 0!important;
  background: transparent!important;
  border: none!important;
  color: #000!important;
  cursor: pointer!important;
  }

.crm-actions a.widget-link:hover,
.crm-actions a.widget-link:focus {
  text-decoration: none;
    box-shadow: 0 0 3px;
  outline: none;
  color: #000;
  }
.crm-actions a.widget-link:hover span.widget-icon-label {
  text-decoration: none;
}


.crm-history-element,
.crm-import {
    box-sizing: border-box;
    border-top: 1px dotted #BBBBBB;
    padding: 6px 2px 24px;
    position: relative;
    width: 100%;
}
/*.crm-recent-history */ .crm-history-element .crm-icons {
    padding: 4px 8px 4px 0;
}

/*.crm-recent-history */ .crm-history-element:hover {
  background-color: rgba(0,0,0,0.05);
}
/*.crm-recent-history */ .crm-history-element .crm-content {
    color: #555;
    line-height: 1.4em;
}
/*.crm-recent-history */ .crm-note .crm-note-content {
    color: #555;
}

.widget-menu-button {
    &:extend(.btn);
    &:extend(.btn-xs);
}

/*.crm-recent-history */ .crm-history-element .crm-contact-link {
    font-weight: bold;
}
/*.crm-recent-history */ .crm-history-element .widget-menu-button {
    background-color: #fff;
    opacity: 0.25;
}
/*.crm-recent-history */ .crm-history-element:hover .widget-menu-button {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
    opacity: 1;
}
/*.crm-recent-history */ .crm-history-element:hover a {
    text-decoration: underline !important;
}
/*.crm-recent-history */ .crm-history-element .crm-attachments {
    margin-bottom: 1em;
    border: 2px solid #f9f9f9;
    padding-right: 1em;
    padding-left: 1em;

    border-radius: 0.5em;
    background-color: #f7f7f7;
}

.crm-history-element .crm-linked-elements {
    text-align: right;
}

.crm-history-element .crm-header {
    width: 100%;
}
.crm-history-element .crm-linked-elements .widget-label {
    color: #555;
    font-size: 10px;
}

.crm-strong {
    font-weight: bold;
}
.crm-small {
    font-size: 90%;
}



.crm-tasks-summary  > .widget-layout-vbox-item {
    margin-bottom: 6px;
    border-top: 1px solid #ccc;
    padding-top: 6px;
}
.crm-tasks-summary  > .widget-layout-vbox-item:FIRST-CHILD {
    border-top: none;
    padding-top :0;
}
.crm-tasks-summary,
.crm-tasks-summary-unscheduled {
    padding: 1px 5px 5px 5px;
    border-radius: 4px;
}
.crm-tasks-summary-overdue {
    border: 1px solid #dbb;
    padding: 0 4px 4px 4px;
    border-radius: 4px;
    background-color: #ecc;
}
.crm-tasks-summary-today {
    border: 1px solid #ddb;
    padding: 0 4px 4px 4px;
    border-radius: 4px;
    background-color: #eec;
}


.crm-context-panel h4 {
    font-weight: bold;
}
.crm-context-panel h5 {
    color: #000;
    text-shadow: none;
    font-weight: bold;
}


.crm-two-panel-page .crm-context-panel {
    border-left: 2px dotted #CCCCCC;
    padding-left: 8px;
}


.crm-codification {
    display: inline-block;
    margin: 0px;
    border: 1px solid #bb9;
    padding: 2px 6px;
    border-radius: 3px;
    background-color: #eec;
    color: #445;
    font-size: 9pt;
    -webkit-background-clip: padding;
}
.crm-codification.crm-main {
    color: #334;
    font-weight: bold;
}



.widget-timeline {
    border: 1px solid #ccc;
}

/*
 * TAGS
 */




.crm-tag {
    &:extend(.label);
    &:extend(.label-success);
    font-weight: bold;
    font-size: 95%;
}
.crm-tag a {
    color: #fff;
}
.crm-tag .widget-icon {
    padding: 0 0 0 16px !important;
    width: 0px;
    visibility: hidden;
    background-position: 0px center !important;
}

.crm-tag:hover .widget-icon {
    visibility: visible;
}

.crm-tag .widget-link.icon {
    visibility: hidden;
    margin: 0 -4px 0 -4px;
}

.crm-tag:hover .widget-link.icon {
    visibility: visible;
}



.crm-button,
a.crm-button {
    display: inline-block;
    border: 1px solid #aaa;
    padding: 0.2em 0.8em;
    border-radius: 12px;
    background-color: #ddd;
    background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
    text-shadow: 0 1px 0px #fff;
    font-weight: bold;
    font-size: 100%;
}


.crm-action-accordion .widget-accordion-header {
    display: block;
    margin-top: 0px !important;
    border: 1px solid #aaa;
    padding: 3px 8px;
    border-radius: 12px;
    background-color: #dddddd;
    background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
    text-shadow: 0 1px 0px #fff;
    font-size: 100%;
}

.crm-action-accordion .widget-accordion-header a {
    display: inline-block;
    padding: 0px 4px 0px 24px !important;
    min-height: 1em !important;

    color: #333 !important;
    font-size:1em;
}

.crm-action-accordion .widget-accordion-header.ui-state-active {
    display: block;
    border-radius: 0;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    font-weight: bold;
    font-size: 100%;
}


#crm_main_panel .crm-action-accordion .widget-accordion-header {
    display: inline-block;
    border: 1px solid #eee ;

    background: rgba(255,255,255,0.2);
}
#crm_main_panel .crm-action-accordion .widget-accordion-header.ui-state-active {
    display: block;
    border: 1px solid #ddd;

    background: #fafae4;
}
#crm_main_panel  .crm-action-accordion .ui-accordion-content-active {
    border: 1px solid #ddd;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background: #faffe4;
    background-image: linear-gradient(to bottom, #fafae4, #fefef7);
    box-shadow: 0 4px 3px rgba(0,0,0,0.1);
}


.widget-labelled-widget .widget-layout-vbox-item > .widget-label {
    &:extend(label);
    margin-bottom: 0;
}
.widget-radioset label,
.widget-layout-hbox-item > label,
.widget-layout-flow-item > label {
	margin-bottom: 0;
}
.widget-radioset input[type="radio"],
.widget-layout-hbox-item > input[type="checkbox"],
.widget-layout-hbox-item > input[type="radio"],
.widget-layout-flow-item > input[type="checkbox"],
.widget-layout-flow-item > input[type="radio"] {
	margin-top: 0;
}

.widget-radioset input[type="radio"] {
	margin-right: 0.2em;
}

form .crm-buttonset .widget-label .ui-button-text {
    padding: 0.4em 0;

    font-size: 9.2pt;
}
form .crm-buttonset .widget-label.ui-button {
    padding-right: 0;
    padding-left: 0;
    width: 14ex;

    text-align: center;
    text-transform: none;
    font-weight: bold;
    font-variant: normal;
}
form .crm-buttonset .widget-label.ui-button.ui-state-active {
    background-color: #555;
    background-image: linear-gradient(to bottom, #666666, #bbbbbb);
    color: #fff;
    text-shadow: 0 1px 0 #000, 0 0 2px #000;
}


.bab_treeToolbar .bab_toolbarButton {
    display: inline-block;
    min-height: 14px;
}

.crm-note .icon-top-48 .widget-icon {
    width: 130px;
}
.crm-note a:hover {
    text-decoration: none !important;
}
.crm-note a:hover span {
    text-decoration: underline !important;
}


.crm-attachments {
    margin-bottom: 1em;
    padding-top: .5em;
    border-radius: 1em;
    background-color: #f7f7f7;
}
.crm-attachments a:hover {
    text-decoration: none;
}
.crm-attachments a.widget-link:hover .widget-icon-label  {
    text-decoration: underline;
}


.widget-popup-menu .widget-link:hover {
    background-color: @mainColor !important;
    color: #ffffff !important;
}




.crm-personal-task,
.crm-other-task {
    margin-top: 5px;
}
.label-crm-personal-task {
    border: 1px solid #fff;
    padding: 2px 0px 2px 8px;
    border-radius: 10px;
    background-color: #888;
    color: #fff !important;
}
.label-crm-other-task {
    padding: 2px 4px;

    color: #777 !important;
    font-weight: normal;
}
/*
#widget_timeline1 {
    min-height: 500px;
}
*/

html > body .crm-page .icon-left.icon-left-16.icon-16x16 a.widget-link,
html > body .crm-page .icon-top.icon-top-16.icon-16x16 a.widget-link,
html > body .crm-page .icon-left.icon-left-24.icon-24x24 a.widget-link,
html > body .crm-page .icon-top.icon-top-24.icon-24x24 a.widget-link,
html > body .crm-page .icon-left.icon-left-32.icon-32x32 a.widget-link,
html > body .crm-page .icon-top.icon-top-32.icon-32x32 a.widget-link,
html > body .crm-page .icon-left.icon-left-48.icon-48x48 a.widget-link,
html > body .crm-page .icon-top.icon-top-48.icon-48x48 a.widget-link {
        text-decoration: none !important;
}
.widget-link:hover .widget-icon .widget-icon-label {
    text-decoration: underline;
}


.crm-card {
    border: 1px solid #ccc;
    padding: 1em;
}


div.timeline-event-bubble-title,
div.timeline-event-bubble-title a {
    font-family: Arial, "DejaVu Sans", Tahoma, Verdana, sans-serif;
    color: #7b0;
    font-weight: normal;
    font-size: 12pt;
    margin: .2em 0;
    text-shadow: #fff 0px 1px 1px;
    text-decoration: none;
}

div.timeline-event-bubble-body p {
    color: #777;
}



.crm-configuration-frame a.widget-link {
  padding-top: 1em;
  padding-bottom: 1em;
}
.crm-configuration-frame a.widget-link:hover {
    background-color: rgba(0,0,0,0.1);
}

#bab_main_toolbar .crm-locationbar {
    display: block;
    margin: 0;
    position: relative;
    top: 1px;
    background:transparent;
}
.crm-locationbar .widget-link {
    padding: 4px 16px 4px 0px;

    background: transparent url("../../../../skins/theme_dash/images/location_separator.png") no-repeat right center;
}
.crm-locationbar .widget-link:hover {
    color: #444;
}
.crm-locationbar .widget-layout-flow-item:last-child .widget-link {
    font-weight: bold !important;
}



html body .orgchart table.horizontal {
    font-family: Arial,sans-serif;
}

body {
    overflow: visible !important;
    overflow-x: hidden !important;
}


.widget-form .crm-long-description {
    text-transform: none;
    font-style: italic;
    font-variant: normal;
    font-size: 90%;
}

.orgchart div.entity {
    box-shadow: 0px 0.5em 0.7em rgba(0, 0, 0, .6);
}
.orgchart div.entity.highlighted {
    box-shadow: 0px 1em 2em rgba(0, 0, 0, .7);
}


.widget-suggestlineedit {
    padding-left: 16px !important;

    background-image: url('../../../../skins/theme_dash/images/222222_11x11_icon_arrows_updown.gif') !important;
    background-position: 2px center;
    background-repeat: no-repeat;
}
.crm-suggestorganization {
    background-image: url('../../../../skins/theme_dash/images/icons/orgsmaller.png') !important;
}
.crm-suggestcontact {
    background-image: url('../../../../skins/theme_dash/images/icons/contactsmaller.png') !important;
}
.crm-suggestrequest {
    background-image: url('../../../../skins/theme_dash/images/icons/requestsmaller.png') !important;
}

.crm-suggesttag {
    background-image: url('../../../../skins/theme_dash/images/icons/tagsmaller.png') !important;
}
.crm-suggestclassification {
/* background-image: url('../../../../skins/theme_dash/images/icons/requestsmall.png') !important; */
}





.crm-folder-view {
    padding: 2em 2em 0 2em;
}
.crm-folder-view.icon-top-48 .crm-file-icon  {
    width:140px;
}




.crm-toolbar.crm-locationbar,
.widget-toolbar.crm-locationbar {
    padding: 2px 2px 2px 10px;
    background: transparent;
}

.crm-toolbar a:FOCUS,
.widget-toolbar a:FOCUS {
    outline: 1px solid #555;
}
.crm-toolbar .crm-instant-form,
.widget-toolbar .crm-instant-form {
    margin-top: 0.5em;
}
#bab_main_toolbar .crm-toolbar .widget-submitbutton,
.widget-toolbar .widget-submitbutton {
    border: 1px solid #666;
    padding: 1px;
    border-radius: 3px;
    background: #555 ! important;
    color: #eee;
    font-size: 11px;
}
#bab_main_toolbar .crm-toolbar input,
#bab_main_toolbar .widget-toolbar input {
    border: 1px solid #999;

    background: #888;
}

.widget-toolbar .bab_toolbarItem,
.widget-toolbar .bab_toolbarItem:link,
.widget-toolbar .bab_toolbarItem:visited {
    background: rgba(200,200,200,0.5);
    border: 1px solid #bbb;
    color: #000;
    margin: 5px 5px 5px 0;
    padding: 5px;
    text-decoration: none;
}


html .widget-filepicker-onefilemode {
    text-align: inherit;
}

.widget-filepicker-file .actions-edit-delete {
    opacity: 0.3;
}
.widget-filepicker-file:hover .actions-edit-delete {
    opacity: 1;
}

.widget-toolbar .widget-filepicker .widget-filepicker-add {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    color: #333;
    line-height: 16px;
} 




@media print {

    #ovfx_head,
    #user_name,
    #main_logo,
    #BAB_DEBUG_link,
    #BAB_DEBUG,
    #workspace_toolbar_shadow,
    #bab_main_toolbar,
    .icon_bar,
    .crm-actions {
        display: none !important;
    }

    .crm-two-panel-page > table > tbody > tr > .widget-layout-hbox-item {
        display: none;
    }
    .crm-two-panel-page > table > tbody > tr > .widget-layout-hbox-item:FIRST-CHILD {
        display: table-cell;
    }
}






input[type="file"].small {
    font-size: 6pt;
    opacity: 0.5;

}
input[type="file"].small:hover {
    opacity: 1;
}

.widget-displaymode {
    padding: 3px 0;
}


.crm-detailed-info-frame {
    padding: 2em 0;
}
.crm-page.crm-detailed-info-frame {
    padding: 0em;
}

.crm-detailed-info-frame .lcrm-header {
    width: 100%;
}


.crm-detailed-info-frame .org {
    font-weight: bold;
}

.crm-detailed-info-frame .position {
    font-weight: bold;
}


.crm-detailed-info-frame h2.fn,
.crm-detailed-info-frame h2.org {
    font-weight: normal;
    font-size: 20pt;
}

.ui-accordion-content {
    padding: 1em !important;

    font-size: 8pt !important;
}
.ui-accordion-content-active {
    border-top: none !important;
}
.ui-accordion-header a {
    padding: 0.3em 1em 0.3em 2.2em !important;
}
.ui-accordion-header.ui-state-active {
    border-bottom: none;

    font-weight: bold;
}



.crm-search-sidebar {
    margin:.2em;
    border: 1px solid #ddd;
    padding:.8em;
    border-radius: 6px;
    background: url("images/grey_vertical_gradient_light.png") repeat-x left top;
}


.crm-search-organization {
    background-color: #fff3c9;
}

.crm-search-contact {
    background-color: #d2d8ec;
}

.crm-search-sidebar .widget-layout-hbox-item {
    padding:.5em;

    vertical-align:middle;
}

.crm-fullwidth {
    width: 99%;
}




.LibCampaign_headitem {
    margin:1em .5em;
    border: 1px solid #aaa;
    padding:.5em .5em 0 .5em;
    height:2.9em;
    border-radius: 6px;
    background-color: #ccc;
    text-align:center;
}


.LibCampaign_gauge {
    width:200px;

}


.not-checked {
    color: #b00;
}

.crm-sub-label {
    font-weight: normal;
}


.crm-view-more {
    display: inline-block;
    border: 1px solid #fff;
    padding: 2px 6px 2px 18px;
    border-radius: 10px;
    background: transparent url('../../../../skins/theme_dash/images/888888_11x11_icon_plus.gif') no-repeat 4px center;
    color: #777;
}

.crm-view-more:hover {
    border-color: #ddd;
}



.widget-list-element {
  background-color: rgba(0, 0, 0, 0);
  border-top: 1px dotted rgba(0, 0, 0, 0.25);
  padding: 0.6em 0;
}
.widget-list-element:first-child {
    border-top: none;
}


.widget-toolbar {
    background-color: transparent ! important;
    display: inline-block;
    padding: 4px 0;
}


.icon-left-16.widget-toolbar .widget-link.icon,
.widget-toolbar .widget-link {
    &:extend(.btn);
    &:extend(.btn-default);
}

.widget-toolbar .widget-link.active {
    &:extend(.btn.active);
}



.widget-section .widget-section-content {
    padding-left: 0;
}




/*
 * Home page
 */


#home\:displaySummary .crm-history-element {
    margin-bottom: 0;
    border-top: none;
    border-bottom : 1px solid #e7e7e7;
    padding: 0.5em;
    max-height: 12em;
    width: auto;

    overflow: hidden;
    background: transparent;
}
#home\:displaySummary .crm-history-element:hover {
    z-index:2;
    background: transparent url('../../../../skins/theme_dash/images/grey_vertical_gradient_lightest.png') left top repeat-x;
    box-shadow: none;
}
#home\:displaySummary .crm-history-element .crm-content p {
    margin: 0 0 1em 0;
}
#home\:displaySummary .crm-history-element .crm-content {
    color: #555;
}

#home\:displaySummary .crm-summary-current-requests {
    min-width: 25em;
    border-bottom-right-radius: 1em;
    color: #666;
}
#home\:displaySummary .crm-summary-current-requests .crm-history-element {
    padding-left: 2em;
}
#home\:displaySummary #main_panel_box h6 {
    color: #000;
    font-weight: normal;
    font-size: 105%;
}
#home\:displaySummary #main_panel_box h4 {
    color: #000;
    font-weight: bold;
    font-size: 1.2em;
}
#home\:displaySummary #main_panel_box h5 {
    color: #555;
}

#home\:displaySummary #main_panel_box .crm-summary-current-requests h4 {
    font-weight: bold;
}

#home\:displaySummary #main_panel_box a {
    color: #555;
}
#home\:displaySummary #main_panel_box .widget-section-header {
    padding-top: 4px;
    padding-right: 6px;
    padding-left: 6px;
    min-height: 22px;
    width: 320px;
}
#home\:displaySummary #main_panel_box h2 {
    padding: 0.5em;
}

#home\:displaySummary .crm-summary-current-requests {
    max-width: 340px;
}

#home\:displaySummary .crm-global-history {
    background: #f7f7dd url("../../../../skins/theme_dash/images/grey_vertical_gradient_light.png") repeat-x left top;
}




.widget-tableview .widget-table-row td.crm-center {
    text-align: center;
}

.widget-tableview .widget-table-row td.crm-medium-column {
    width: 6em !important;
}
.widget-tableview .widget-table-row td.crm-thin-column {
    width: 3em !important;
}
.widget-tableview .widget-table-row td.crm-thinnest-column {
    width: 1px !important;
}
.widget-tableview .widget-table-row td.crm-numeric,
.widget-tableview .widget-table-row td.crm-numeric input {
    text-align: right;
}
/*
.widget-table-section .widget-table-row,
.widget-table-section.widget-table-header .widget-table-row,
.widget-table-section.widget-table-footer .widget-table-row {
    background:none repeat scroll 0 0 #fff !important;
}
*/
.widget-table-section .widget-table-row .widget-lineedit,
.widget-table-section .widget-table-row .widget-textedit {
    border: none;
    box-shadow: none;
}
.widget-table-section .widget-table-row:hover input.widget-lineedit,
.widget-table-section .widget-table-row:hover textarea.widget-textedit {
    outline: 1px solid #abc;
}
.widget-table-section .widget-table-row:hover input[disabled="disabled"],
.widget-table-section .widget-table-row:hover textarea.widget[disabled="disabled"] {
    outline: none;
}
.widget-table-section .widget-table-row:hover input[type="checkbox"] {
    outline: none;
}

#main_panel_box {
    width: 100%;

    background-color: #eee;

}

.crm-hidden {
    display: none;
}







.crm-page .crm-folder-view {
    padding: 1em 2em;
}
.crm-page .widget-section .crm-folder-view {
    padding-top: 0;
}
.crm-page .crm-file-full-frame .crm-folder-view.icon-top-48 .widget-icon  {
    width: 128px;
}


html .crm-file-details {
    border: none;

    background: transparent;
}

html .crm-file-details .widget-image {
    border: 1px solid #ccc;
    padding: 3px;

    background: #fff;
}

.crm-file-details .widget-pair .first {
    padding:.6em 0 0 0;

    white-space:nowrap;

}


.crm-file-details .widget-pair .second {
    padding:.1em 0 0 1.5em;

    font-weight:bold;
}



.widget-icon.crm-droppable {
    border-radius: 6px;
}
.widget-icon.crm-droppable-accepting {
    outline: 1px solid rgb(100, 150, 200);
    outline-color: rgba(100, 150, 200, 0.5);

    outline-radius: 6px;
}
.widget-icon.crm-droppable-hovered {
    outline-width: 2px;
    outline-color: rgba(100, 150, 200, 1);

    background-color: #ddd;
    background-color: rgba(100, 150, 200, 0.2);
}
.crm-draggable-dragged {
    background-color: transparent !important;
}

.widget-treeview .bab_tree li div.line {
    border-radius: 0;
  border: none;
  border-bottom: 1px dotted rgba(0,0,0,0.1);
    height: 30px;
    margin-top: 2px;
}

.widget-treeview .bab_tree .level1 {
  font-weight: inherit;
}



.crm-folder-view.widget-icon.ui-selected,
.crm-folder-view .widget-icon,
.widget-treeview .widget-icon {
    transition-duration: 0.5s;
    transition-property: background;
}
.crm-folder-view.widget-icon.ui-selected:hover,
.crm-folder-view .widget-icon:hover {
    border-radius: 6px;
    background-color: #e7e7e7;
    background-color: rgba(100, 150, 200, 0.25);
}

.widget-treeview div.line a:hover {
    text-decoration: none !important;
}

.widget-icon.ui-selecting:hover,
.widget-icon.ui-selecting,
.widget-icon.ui-selected {
    border-radius: 6px;
    background-color: #d8dde3;
}



/* POPUP MENUS */


html .widget-menu {
    display: none;
}


html .widget-popup-menu {
    border: none;
    padding: 5px 0;
}

html .widget-popup-menu .widget-link {
  display: block;
  color: #000;
  height: 32px;
  line-height: 32px;
  padding: 0 16px;
}


html .widget-popup-menu a:hover .widget-icon span.widget-icon-label {
    text-decoration: none;
}


html .ui-state-default a, html .ui-state-default a:link, html .ui-state-default a:visited {
    color:#000;
}



/* TIMELINES */

.widget-timeline .timeline-band .timeline-highlight-label {
    visibility: hidden;
}

.widget-timeline #timeline-band-0 .timeline-highlight-label {
    visibility: visible;
    color:#fff;
    text-shadow:0 0 2px rgba(0, 0, 0, 0.2);
    font-weight:bold;
    font-size:200%;
}

.widget-timeline .timeline-date-label {
    font-size: 75%;
}




#workspace_toolbar_shadow {
    width: 100%;
    height: 11px;

    position: absolute;

    z-index: 1000;
    background: transparent;
}

#lcrm_main_menu > ul {
    margin: 0;
    padding: 0;
}

#lcrm_main_menu > ul .menu-start-button {
    padding-top: 4px;
    width: 48px;
    height: 18px;

    border-radius: 0 0 16px 0;
    background: #000;
    background: rgba(0,0,0,0.18);
    box-shadow: 0 1px 1px rgba(255,255,255,0.5);
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 9px;
    transition-duration: 0.25s;
    -webkit-background-clip: padding;
}

#lcrm_main_menu ul ul {
    margin-top: -4px !important;
    border:1px solid #FFFFFF;
    padding: 1px;
    padding: 5px !important;
    border-radius: 5px;
    background-color: #eee;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}


#lcrm_main_menu a.sublevel, #lcrm_main_menu span.sublevel {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 150px;
    border-radius: 4px;
    color: #555;
    text-decoration: none;
    white-space: nowrap;
}
#lcrm_main_menu  li:hover > a.sublevel, #lcrm_main_menu li:hover > span.sublevel {
    background-color: #8ac;
    color: #fff;
    text-shadow: 0 1px 2px #000;
}



/**********
    Teams
 **********/

.crm-page .crm-team-section .crm-team-member {
    border: 1px solid #bbb;
    padding: 4px;
    border-radius: 5px;
    background: #fff;
    color: #555;
    -webkit-background-clip: padding;
}
.crm-page .crm-team-section .crm-team-member.widget-folded {
    border: 1px solid #ddd;
    padding: 4px;

    background: rgba(255,255,255,0.75);
}
.crm-page .crm-team-section .crm-team-member.crm-pilot-organization {
    border: 1px solid #aaa;
}
.crm-page .crm-team-section .crm-team-member h6 {
    color: #555;
}

.crm-page .crm-team-section.widget-section.widget-foldable .widget-section-header,
.crm-page .crm-team-section .widget-section.widget-foldable .widget-section-header {
    border-bottom: none;
}


.crm-page .crm-team-section .crm-team-member .betom-context-actions {
    padding: 4px;
    border-radius: 5px;
    background: #f7f7f7;
    -webkit-background-clip: padding;
}


/**********
    Orders
 **********/

.crm-page .crm-orders-section .crm-order {
    border: 1px solid #bbb;
    padding: 4px;
    border-radius: 5px;
    background: #fff;
    color: #555;
    -webkit-background-clip: padding;
}
.crm-page .crm-orders-section .crm-order.widget-folded {
    border: 1px solid #ddd;
    padding: 4px;

    background: rgba(255,255,255,0.75);
}
.crm-page .crm-orders-section .crm-order h6 {
    color: #555;
}

.crm-page .crm-orders-section.widget-section.widget-foldable .widget-section-header,
.crm-page .crm-orders-section .widget-section.widget-foldable .widget-section-header {
    border-bottom: none;
}


.crm-page .crm-orders-section .crm-order .betom-context-actions {
    padding: 4px;
    border-radius: 5px;
    background: #f7f7f7;
    -webkit-background-clip: padding;
}







.crm-display-label {
    color: #999;
    text-shadow: 0 1px 0 #fff;
    font-weight: bold;
    font-size: 90%;
}

.adr, .addr {
    padding: 0 28px 2px 0;
    border-radius: 4px;
    transition-duration: 0.5s;
    transition-property: background-color;
    -webkit-background-clip: padding;

}
.adr:hover, .addr:hover {
    background: #eef2ff;
}


.crm-sort .widget-layout-vbox-item {
    margin:.4em;
    border:#eee 1px solid;
    padding:.4em .9em;
    min-height:1.5em;
    border-radius:5px;
    background-color: #fff;
    cursor: move;
    cursor: hand;
}

.crm-sort .widget-layout-vbox-item:hover {
    border-color:#ccc;

    background-color: #eee;
}

.widget-sortable-placeholder {
	--color1: rgba(255,160,0,0.0125);
	--color2: rgba(255,160,0,0.2);
    background: repeating-linear-gradient(
        45deg,
        var(--color1),
        var(--color1) 10px,
        var(--color2) 10px,
        var(--color2) 20px
    );
    box-shadow: 0 0 1px rgba(0,0,0,1) inset;
    min-height: 2px !important;
    border: none !important;
}
.ui-sortable-helper {
    border: none !important;
    border-radius: 0 !important;
    background: #fff !important;
    float: none !important;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}


.crm-page-editor {

}

.crm-page-editor .crm-editor {
    margin: 2em auto;
    padding-left:1em;
    max-width: 900px;
}



.widget-tableview > table > tbody > tr > td {
    padding: 4px 8px;
}

.widget-tableview > table > tbody.widget-table-body > tr.widget-table-row {
    color: #222;
}
.widget-tableview > table > tbody.widget-table-body > tr.widget-table-row td.widget-table-column-sorted-desc,
.widget-tableview > table > tbody.widget-table-body > tr.widget-table-row td.widget-table-column-sorted-asc {
    color: #000;
}
.widget-tableview > table > tbody.widget-table-body > tr.widget-table-row:hover td {
    background-color: #F2F9FF;
    color: #000;
}
.widget-tableview > table > tbody.widget-table-body > tr.widget-table-row:hover a {
    text-decoration: underline;
}

.widget-table-section.widget-table-header {
	background-color: @body-bg;
}

.widget-table-section.widget-table-header tr.widget-table-row td.widget-table-column-sorted-asc::before {
    content: "\25B4";
    float: right;
}
.widget-table-section.widget-table-header tr.widget-table-row td.widget-table-column-sorted-desc::before {
    content: "\25BE";
    float: right;
}





.crm-page .timeline-event-tape {
    margin-top: 4px;
    padding-top: 12px;

    border-radius: 3px;
    background-color: #fc5;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.crm-page .timeline-event-label {
    padding-left: 4px;
}




.crm-page .crm-emptyframe-placeholder {
    margin: 0.5em;
    padding: 0.5em;

    border-radius: 4px;
    font-size: 10pt;
}

.widget-submitbutton {
    &:extend(.btn);
    &:extend(.btn-primary);
}

.widget-actionbutton {
    &:extend(.btn);
    &:extend(.btn-default);
}
.icon-left-16 .widget-actionbutton.icon /*,.icon-left-16 .widget-actionbutton.icon:empty*/ {
    &:extend(.btn);
    &:extend(.btn-default);
}

.widget-actionbutton .widget-filepicker-add {
    margin: 0;
    border: none;
    padding: 0;

    background: none;
    color: inherit;
    font-weight: inherit;
}

/*************************************************
    $   Page de connexion
*************************************************/

body.login {
    text-align : center;top

    #ovfx_head,
    .breadcrumb,
    .footer,
    h2.title {
        display : none;
    }

    #ovfx_page {
        padding-top : 2em;
    }

    .BabLoginMenuBackground {
        border : none;

        background: transparent;
    }

    .bab_content {
        img.logo {
            max-height:200px;
        }
        form {
            display: inline-block;

            vertical-align: top;

            white-space: nowrap;
        }
    }
}




  /***************
      Clipboard
   ***************/

  body .widget-dockable-frame .slider.docked {
    border: none;
    border-radius: 0;
    top: 0;
    position: relative;
    background: transparent;
    box-shadow: none;
    }

  .widget-dockable-frame .widget-dockable-content {
    min-height: 20px;
    padding: 6px;
    background: transparent;
    }

  .widget-dockable-frame .widget-dockable-header {
    background: transparent;
    height: 24px;
    padding: 6px 0 0 10px;
    position: relative;
    border-bottom: none;
    }

  .widget-dockable-frame .widget-dockable-header h3 {
    color: #333;
    font-size: 11pt;
    font-weight: bold;
    position: static;
    }

  #crm_toolbars_panel .widget-dockable-header button {
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 0 0 1px rgba(255,255,255,0.5);
    border-radius: 3px;
    }


  body .widget-dock {
    background: linear-gradient(top,rgba(240,240,240,0.9),rgba(200,200,200,0.9));
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: auto;
    }

  body .widget-dockable-frame .slider {
    box-shadow: 0 0 5px #000;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: auto;
    width: 100%;
    height: auto;

    }

  body .widget-dockable,body .widget-dockable:hover {
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    left: auto;
    z-index: 1001;
    border-radius: 100% 0 0 0;
    border: none;
    padding: 0px;
    height: 40px;
    width: 40px;
    background: linear-gradient(top,rgba(240,240,240,0.9),rgba(200,200,200,0.9));
    box-shadow: 0 0 5px #000;
    background-image: url('../../../../skins/theme_dash/clipboard.png');
    background-position: 65% 65%;
    background-repeat: no-repeat;
    background-color: rgba(220,220,220,0.5);
    transition-duration: 200ms;
    }

  body .widget-dockable:hover {
    padding: 6px;
    }

  body .widget-dockable-frame .widget-section.crm-cardframe.accepted {
    border: 1px solid #08F;
    }

  body .widget-dockable-frame .widget-section.crm-cardframe {
    width: 320px;
    }

  body .widget-dockable-frame .widget-section.crm-cardframe.widget-folded {
    width: auto;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    }

  body .widget-dockable .dock-content {
    display: none;
    }

  body .widget-dockable .widget-dockable-frame .dock-content {
    display: block;
    }


.crm-contact-image {
    &:extend(.img-circle);
}

.portlet-frame .portlet-frame-title {
    font-size: 36px;
    font-weight: 100;
    padding: 0.5em 0 0 0;
    line-height: 1.1;
    color: @mainColor;
}


/* Use smaller fonts for some elements in portlets */

.portlet-content .widget-treeview,
.portlet-content .widget-tableview,
.portlet-content .widget-list-view {
    font-size: 90%;
}



#bab-menu-page ul {
    list-style-type:none;
    padding-inline-start: 25px;
}


.widget-lineedit, .widget-datepicker, .widget-datetimepicker, .widget-select, .widget-userpicker, .widget-textedit, .ui-multiselect {
    &:extend(.form-control);
}


.widget-datepicker {
    width: 8em;
}


.ui-dialog {
    box-shadow: 0 4px 16px rgba(0,0,0,.5);
}

/*** widget-tableview ***/

.widget-tableview > table,
.widget-tableview > * > table {
    .table;
    .table-bordered;
}

.widget-tableview > table > thead > tr > td,
.widget-tableview > * > table > thead > tr > td {
    font-weight: bold;
}


.widget-tableview.condensed td {
	padding: 2px;
}
.widget-tableview.condensed td .widget-label {
    padding: 3px 6px;
    display: inline-block;
}

/*
.widget-tableview.condensed td .form-control,
.widget-tableview.condensed td .widget-lineedit,
.widget-tableview.condensed td .widget-datepicker,
.widget-tableview.condensed td .widget-select,
.widget-tableview.condensed td .widget-userpicker,
.widget-tableview.condensed td .widget-textedit,
.widget-tableview.condensed td .ui-multiselect  {
    padding: 2px 6px;
    height: 24px;
    border-radius: 0;
}
*/

.condensed .form-control,
.condensed .widget-lineedit,
.condensed .widget-datepicker,
.condensed .widget-select,
.condensed .widget-userpicker,
.condensed .widget-textedit,
.condensed .ui-multiselect  {
    padding: 2px 6px;
    height: 24px;
    border-radius: 0;
}


.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    padding: 0;
    border-top: 3px solid #d2d6de;
    border-top-color: rgb(210, 214, 222);
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box > * > .widget-section-header,
.box > * > .widget-section-content {
    border-radius: 0;
    padding: 10px !important;
}


.border {
	border: 1px solid rgba(0,0,0,0.5);
}

.widget-bordered-thumbnail {
	border: 1px solid rgba(0,0,0,0.5);
	background-color: #fff;
}

.box .section-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

html .ui-multiselect-menu-4column .ui-multiselect-checkboxes label,
html .ui-multiselect-menu-3column .ui-multiselect-checkboxes label,
html .ui-multiselect-menu-2column .ui-multiselect-checkboxes label {
    height: auto !important;
}


.ui-dialog .widget-form-buttons {
	.modal-footer;
}

html .ui-dialog .ui-dialog-title {
    float: none;
	display: block;
    margin: .1rem 0 .1rem 0;
    white-space: nowrap;
    width: 100%;
	padding-right: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

html .ui-dialog .ui-dialog-titlebar {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
	border-radius: 0;
    font-size: 1.75rem;
    padding: 1.5rem 1rem;
}
html .ui-dialog .ui-dialog-content {
    padding: .5rem 1rem;
}

html .ui-dialog h2.widget-title {
  padding-top: 0;
}

html .ui-dialog .ui-dialog-titlebar-close {
    top: 1.5rem;
    right: 1rem;
    margin: 0;
    border: 0;
    background: transparent;
}

button.ui-dialog-titlebar-close::before {
    content: "\2A09";
    line-height: 1;
    vertical-align: top;
}

.app-page-list,
.app-page,
h1.pagetitle { 
	padding: 2rem 2rem 0 2rem;
}

.widget-toolbar > div {
	margin-right: 1rem;
}


.portlets-toggle-edit-mode {
	z-index: 2000;
}


body {
	--ck-focus-ring: none;
}

.ck.ck-reset.ck-editor {
    &:extend(.panel);
    &:extend(.panel-default);
}

.ck.ck-content.ck-editor__editable_inline {
	border: none;
}

.ck.ck-editor .ck.ck-toolbar {
	border: none;
}



@import 'widgets.menu.less';


@import 'burgermenu';
@import 'sidebar';
@import 'login';
@import 'timeline';