/********************************/
/*            Layout            */
/********************************/

.sidebarImage() when not (@sidebarImage = ''){
    background-image: url(@sidebarImage);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/*
#ovfx_head {
background-color: #d00;
}
*/
.dash-margin{
    margin-left: @sidebarWidth;
}
.main-sidebar .sidebar.lock-open .nav-burger-icon.open{
    position: absolute;
    animation: move-right 0s ease;
    width: 48px !important;
    right: 1rem;
}

.main-sidebar .sidebar:not(.lock-open) .nav-burger-icon.open{
    position: absolute;
    animation: move-right @animationSpeed ease;
    width: 48px !important;
    right: 1rem;
}

@media (max-width: 768px) {
	.main-sidebar .sidebar{
		width: 0 !important;
		.sidebar-body, .profile {
			display: none;
		}
    	&:not(.collapsed){
			width: 100% !important;
			max-width: 30rem !important;
			.sidebar-body, .profile {
				display: block;
			}
        }
	}
	.dash-margin{
    	margin-left: 0 !important;
	}
}

.main-sidebar .sidebar{
    &.sidebar-scroll-default{
        position: absolute;
    }
    &.sidebar-scroll-fixed{
        position:fixed;
    }
	z-index: 10;
	min-height: 100%;
	top: 0;
	left: 0;
	width: @sidebarWidth;
	&:not(.lock-open){
        transition: width @animationSpeed ease;
        animation: width @animationSpeed ease;
        &:not(.collapsed){
            .sidebar-header .profile img {
                display:inline-block;
                animation: profile-img-resize @animationSpeed ease;
                width:64px;
                height:64px;
            }
        }
	}
	&.lock-open{
        transition: width 0s ease;
        animation: width 0s ease;
        &:not(.collapsed){
            .sidebar-header .profile img {
                display:inline-block;
                animation: profile-img-resize 0s ease;
                width:64px;
                height:64px;
            }
        }
	}

	.sidebar-header{
	   img{
	       cursor: pointer;
	       margin: 8px;
	   }
	}
	&:not(.collapsed){
	    width: 250px;
	    z-index: 2000;
	    .sitemap-menu-root{
	       margin-top:0;
	    }
	    .sitemap-folder:not(.opened) .menuEntryChevron{
	        width: 0;
		    height: 0;
		    float: right;
		    margin: 15px 8px;
        }
	    .sitemap-folder.opened > span > .menuEntryChevron, .sitemap-folder.opened > a > .menuEntryChevron{
	        width: 0;
	        height: 0;
	        float: right;
	        margin: 15px 3px;
	    }
    
	    .sitemap-menu-root li > a, li > span{
	        min-height:40px;
	        line-height:40px;
	    }
	    
	    .sidebar-header{
            .sidebarImage();
            .profile{
                .userName{
					display: inline-block;
					position: relative;
					top: -20px;
					width: 60%;
					text-align: center;
					overflow:hidden;
                }
            }
            .searchEntry{
                display:none;
            }
            .sidebar-search{
                width:100%;
                height:50px;
                padding-top:15px;
                form{
                    margin-left:25px;
                    width:80%;
                    padding-left:4px;
                }
                input[type=search]{
                    height:35px;
                    display:inline-block;
                    border:0px;
                    box-sizing: border-box;
		            font-size: 16px;
		            border-radius: 2px 0px 0px 2px;
		            padding-left:10px;
		            width:75%;
                }
                button[type=submit]{
                    display: inline-block;
				    border-radius: 0px 2px 2px 0px;
				    width: 15%;
				    height: 35px;
				    position: relative;
				    top: -1px;
				    font-size: 16px;
				    left: -3px;
				    border: none;
                }
            }
	    }
    }
	&.collapsed{
/*		width:40px;*/
		.sitemap-menu-root li a, .sitemap-menu-root li span{
	        font-size:0;
		}
		a, span{
            padding:0px 0px 0px 6px;
		}
		.menuEntryChevron{
            display:none;
		}
		.sidebar-header{
			.profile img{
				width:32px;
				height:auto;
				margin: 8px (@sidebarWidth - 32px) / 2;
			}
			.sidebar-search, .profile .userName{
                display:none;
	        }
        }
    }
	span,a{
		/*font-size: 0.875rem;*/
		display: block;
	}
	.icon{
		min-height:32px;
		min-width:32px;
	}
	
	.sitemap-menu-root{
		list-style:none;
	    padding:0;
	    li ul{
	        list-style:none;
	        padding:0;
	    }
	    li > a, li > span{
	        /*font-size: 0.875rem;*/
	        display: block;
	        padding: 6px 0px 6px 4px;
	        text-overflow: ellipsis;
	        overflow: hidden;
	        position: relative;
	        text-decoration:none;
	        .leftNavIcon {
	            position: absolute;
	            top: 0;
	            left: 0;
	            width: 3rem;
	            padding: 0.8rem 0;
	            text-align: center;
	        }
	    }
	    li{
	       .icon:before{
	            min-width: @sidebarWidth - 8px;
	            text-align: center;
	        }
	    }
	}
}

/********************************/
/*      Fonctionnalités         */
/********************************/

.main-sidebar .sidebar .sitemap-menu-root li ul, /* niv1 */
.main-sidebar .sidebar .sitemap-menu-root li ul li ul, /* niv2 */
.main-sidebar .sidebar .sitemap-menu-root li ul li ul li ul, /* niv3 */
.main-sidebar .sidebar .sitemap-menu-root li ul li ul li ul li ul, /* niv4 */
.main-sidebar .sidebar .sitemap-menu-root li ul li ul li ul li ul li ul /* niv5 */{
	display: none;
	margin: 0;
	background-color: @secondaryBackground;
}

.main-sidebar .sidebar .sitemap-menu-root li.opened > ul, /* niv1 */ 
.main-sidebar .sidebar .sitemap-menu-root li.opened > ul li.opened > ul, /* niv2 */
.main-sidebar .sidebar .sitemap-menu-root li.opened > ul li.opened > ul li.opened > ul, /* niv3 */
.main-sidebar .sidebar .sitemap-menu-root li.opened > ul li.opened > ul li.opened > ul li.opened > ul, /* niv4 */
.main-sidebar .sidebar .sitemap-menu-root li.opened > ul li.opened > ul li.opened > ul li.opened > ul li.opened > ul /* niv5 */{
	display: block;
    animation: slide-down @animationSpeed ease;
	padding-left:25px;
}

.main-sidebar .sidebar .sitemap-menu-root a:focus {
    outline: none;
}

.main-sidebar .sidebar .sitemap-menu-root li ul li > a.icon:before,
.main-sidebar .sidebar .sitemap-menu-root li ul li > span.icon:before {
    content: "";
    min-width: 34px;
}
.main-sidebar .sidebar .sitemap-menu-root li ul li > a,
.main-sidebar .sidebar .sitemap-menu-root li ul li > span {
    min-height: 30px !important;
    line-height: 30px !important;
    padding: 0 !important;
}
.main-sidebar .sidebar .sitemap-menu-root li ul li > span {
    font-weight: bold;
}


.main-sidebar .sidebar .sitemap-menu-root li ul li > span .menuEntryChevron {
    margin: 10px 8px !important;
}

@-webkit-keyframes slide-down {
	0% { max-height:0px; }   
	100% { max-height:2000px; }
}
@-moz-keyframes slide-down {
	0% { max-height:0px; }   
	100% { max-height:2000px; }
}
@keyframes slide-down {
    0% { max-height:0px; }   
    100% { max-height:2000px; }
}
@-o-keyframes slide-down {
    0% { max-height:0px; }   
    100% { max-height:2000px; }
}



@-webkit-keyframes profile-img-resize {
	0% { 
		width:32px; 
		height:32px;
	}   
	100% { 
        width:64px; 
        height:64px; 
	}
}
@-moz-keyframes profile-img-resize {
    0% { 
        width:32px; 
        height:32px;
    }   
    100% { 
        width:64px; 
        height:64px; 
    }
}
@keyframes profile-img-resize {
    0% { 
        width:32px; 
        height:32px;
    }   
    100% { 
        width:64px; 
        height:64px; 
    }
}
@-o-keyframes profile-img-resize {
    0% { 
        width:32px; 
        height:32px;
    }   
    100% { 
        width:64px; 
        height:64px; 
    }
}



@-webkit-keyframes move-right {
    0% { left:0px; }   
    100% { left:210px; }
}
@-moz-keyframes move-right {
    0% { left:0px; }   
    100% { left:210px; }
}
@keyframes move-right {
    0% { left:0px; }   
    100% { left:210px; }
}
@-o-keyframes move-right {
    0% { left:0px; }   
    100% { left:210px; }
}

/********************************/
/*          Themes              */
/********************************/

/*      Début Abyss       */
    @abyss_mainFontColor: rgba(255,255,255,0.7);
    @abyss_secondFontColor: rgba(255,255,255,1);
    @abyss_firstBackground: #2f323a;
    @abyss_secondBackground: #17232f;
    @abyss_thirdBackground: #5093e1;
    
    .main-sidebar .sidebar.abyss{
	    background-color:@abyss_firstBackground;
	    &:not(.collapsed){
	        .sitemap-folder:not(.opened) .menuEntryChevron{
	            border-top: 5px solid transparent;
	            border-left: 5px solid @abyss_mainFontColor;
	            border-bottom: 5px solid transparent;
	        }
	        .sitemap-folder.opened > span > .menuEntryChevron, .sitemap-folder.opened > a > .menuEntryChevron{
	            border-left: 5px solid transparent;
	            border-right: 5px solid transparent;
	            border-top: 5px solid @abyss_mainFontColor;
	        }
	
	        
	        .sidebar-header{
	            .sidebar-search{
	                background-color:@abyss_thirdBackground;
	                input[type=search]{
	                    background-color:@abyss_firstBackground;
	                    color:@abyss_mainFontColor;
	                }/*input*/
	                button[type=submit]{
	                    background-color:@abyss_mainFontColor;
	                    color:black;
	                }/*button*/
	            }/*sidebar-search*/
	        }/*sidebar-header*/
	    }/*not(collapsed)*/
	    .sidebar-header{
	       .profile{
                    .userPhoto{
                        border-radius:100px;
                        vertical-align:inherit;
                    }
                }
	    }
	    .nav-burger-icon{ 
		    span{
		       background-color: #777;
		    }
        }
	    span,a{
	        color:@abyss_mainFontColor;
	    }
	    
	    .sitemap-menu-root{
	        color: @abyss_mainFontColor;
	        transition: color @animationSpeed ease;       
	        li > a, li > span{ 
	            &:hover{
	                color: @abyss_secondFontColor;
	            }
	        }
	        li ul li.opened a {
	            color: @abyss_mainFontColor;
	        }
	        li{
	           &.opened{
	               background-color: @abyss_secondBackground;
	               > a {
	                   color:@abyss_mainFontColor;
	               }
	           }
	           &.active > a, &.active > span{
	               background-color: @abyss_thirdBackground;
	               color: @abyss_secondFontColor;
	           }
	        }
	    }
	}
/*       Fin Abyss        */



/*      Début Grass       */
    @grass_mainFontColor: #262626;
    @grass_secondFontColor: #191919;
    @grass_firstBackground: #60BF00;
    @grass_secondBackground: #408000;
    @grass_thirdBackground: #204000;
    
    .main-sidebar .sidebar.grass{
        background-color:@grass_firstBackground;
        &:not(.collapsed){
            .sitemap-folder:not(.opened) .menuEntryChevron{
                border-top: 5px solid transparent;
                border-left: 5px solid @grass_mainFontColor;
                border-bottom: 5px solid transparent;
            }
            .sitemap-folder.opened > span > .menuEntryChevron, .sitemap-folder.opened > a > .menuEntryChevron{
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid @grass_mainFontColor;
            }
    
            
            .sidebar-header{
                .sidebar-search{
                    background-color:@grass_thirdBackground;
                    input[type=search]{
                        background-color:@grass_firstBackground;
                        color:@grass_mainFontColor;
                        &::-webkit-input-placeholder {
						   color: white;
						}
						&:-moz-placeholder {
						   color: white;  
						}
						&::-moz-placeholder {
						   color: white;  
						}
						&:-ms-input-placeholder {  
						   color: white;  
						}
                    }/*input*/
                    button[type=submit]{
                        background-color:@grass_mainFontColor;
                        color:white;
                    }/*button*/
                }/*sidebar-search*/
            }/*sidebar-header*/
        }/*not(collapsed)*/
        .sidebar-header{
           .profile{
                    .userPhoto{
                        border-radius:100px;
                        vertical-align:inherit;
                    }
                }
        }
        .nav-burger-icon{ 
            span{
               background-color: #777;
            }
        }
        span,a{
            color:@grass_mainFontColor;
        }
        
        .sitemap-menu-root{
            color: @grass_mainFontColor;
            transition: color @animationSpeed ease;       
            li > a, li > span{ 
                &:hover{
                    color: @grass_secondFontColor;
                }
            }
            li ul li.opened a {
                color: @grass_mainFontColor;
            }
            li{
               &.opened{
                   background-color: @grass_secondBackground;
                   > a {
                       color:@grass_mainFontColor;
                   }
               }
               &.active > a, &.active > span{
                   background-color: @grass_thirdBackground;
               }
            }
        }
    }
/*       Fin Grass        */

/*      Début Custom       */    
    .main-sidebar .sidebar.customSidebar{
        background-color:@customSidebar_firstBackground;
        &:not(.collapsed){
            .sitemap-folder:not(.opened) .menuEntryChevron{
                border-top: 5px solid transparent;
                border-left: 5px solid @customSidebar_mainFontColor;
                border-bottom: 5px solid transparent;
            }
            .sitemap-folder.opened > span > .menuEntryChevron, .sitemap-folder.opened > a > .menuEntryChevron{
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid @customSidebar_mainFontColor;
            }
    
            
            .sidebar-header{
                .sidebar-search{
                    background-color:@customSidebar_thirdBackground;
                    input[type=search]{
                        background-color:@customSidebar_firstBackground;
                        color:@customSidebar_mainFontColor;
                        &::-webkit-input-placeholder {
                           color: white;
                        }
                        &:-moz-placeholder {
                           color: white;  
                        }
                        &::-moz-placeholder {
                           color: white;  
                        }
                        &:-ms-input-placeholder {  
                           color: white;  
                        }
                    }/*input*/
                    button[type=submit]{
                        background-color:@customSidebar_mainFontColor;
                        color:white;
                    }/*button*/
                }/*sidebar-search*/
            }/*sidebar-header*/
        }/*not(collapsed)*/
        .sidebar-header{
           .profile{
                    .userPhoto{
                        border-radius:100px;
                        vertical-align:inherit;
                    }
                }
        }
        .nav-burger-icon{ 
            span{
               background-color: #777;
            }
        }
        span,a{
            color:@customSidebar_mainFontColor;
        }
        
        .sitemap-menu-root{
            color: @customSidebar_mainFontColor;
            transition: color @animationSpeed ease;       
            li > a, li > span{ 
                &:hover{
                    color: @customSidebar_secondFontColor;
                }
            }
            li ul li.opened a {
                color: @customSidebar_mainFontColor;
            }
            li{
               &.opened{
                   background-color: @customSidebar_secondBackground;
                   > a {
                       color:@customSidebar_mainFontColor;
                   }
               }
               &.active > a, &.active > span{
                   background-color: @customSidebar_thirdBackground;
               }
            }
        }
    }
/*       Fin Custom        */