

@import "../vendor/twbs/bootstrap/less/bootstrap.less";
	
/*

@import "lumen.less";

*/

:root {
	--header-height: 50px;
}

/* Theme dash variables */


@body-bg: #F7F8F9;


@maxWidth: 2000px;
@theme_dash_UsedGlobalFontName: 'Arial';
@theme_dash_UsedTitleFontName: 'Arial';

@mainColor: @brand-primary;

@bannerImage: '';
@headerBackgroundColor: #ffffff;
@headerHeight: 50px;
@navigationbarHeight: 43px;
@sidebarWidth: 64px;
@animationSpeed: 0s;
@sidebarImage: '';
@secondaryBackground: '';
@customSidebar_firstBackground: '';
@customSidebar_mainFontColor: '';
@customSidebar_thirdBackground: '';
@customSidebar_secondFontColor: '';
@customSidebar_secondBackground: '';
@loginImage: '';


@table-border-color: rgba(0,0,0,0.1);

@brand-primary: #3c8dbc;
@brand-success: #00a65a;
@brand-info: #00c0ef;
@brand-warning: #f39c12;
@brand-danger: #f56954;

/* Bootstrap variables */

@font-size-base: 13px;



.box.grey,
.box .box.grey,
.box .box .box.grey {
    border-top-color: var(--color-grey-dark);
}
.grey .colored,
.box.grey h1,
.box.grey h2,
.box.grey h3,
.box.grey .colored,
.box .box.grey h1,
.box .box.grey h2,
.box .box.grey h3,
.box .box.grey .colored,
.box .box .box.grey h1,
.box .box .box.grey h2,
.box .box .box.grey h3,
.box .box .box.grey .colored {
    color: var(--color-grey-dark) !important;
}
.box.grey .widget-table-section-header td,
.box.grey .crmbtp-subtotal td,
.box .box.grey .widget-table-section-header td,
.box .box.grey .crmbtp-subtotal td,
.box .box .box.grey .widget-table-section-header td,
.box .box .box.grey .crmbtp-subtotal td {
    background: #f7f7f7;
    border-top: 2px solid var(--color-grey);
    color: #000;
}
.grey .widget-actionbutton {
    color: #ffffff;
    background-color: var(--color-grey);
    border-color: var(--color-grey-dark);
}
.box.grey .widget-actionbutton,
.box .box.grey .widget-actionbutton,
.box .box .box.grey .widget-actionbutton {
    &:extend(.btn-sm);
    color: #ffffff;
    background-color: var(--color-grey);
    border-color: var(--color-grey-dark);
}



.box.red,
.box .box.red,
.box .box .box.red {
    border-top-color: var(--color-red-dark);
}
.red .colored,
.box.red h1,
.box.red h2,
.box.red h3,
.box.red .colored,
.box .box.red h1,
.box .box.red h2,
.box .box.red h3,
.box .box.red .colored,
.box .box .box.red h1,
.box .box .box.red h2,
.box .box .box.red h3,
.box .box .box.red .colored {
    color: var(--color-red-dark) !important;
}
.box.red .widget-table-section-header td,
.box.red .crmbtp-subtotal td,
.box .box.red .widget-table-section-header td,
.box .box.red .crmbtp-subtotal td,
.box .box .box.red .widget-table-section-header td,
.box .box .box.red .crmbtp-subtotal td {
    background: #f7f7f7;
    border-top: 2px solid var(--color-red);
    color: #000;
}
.red .widget-actionbutton {
    color: #ffffff;
    background-color: var(--color-red);
    border-color: var(--color-red-dark);
}
.box.red .widget-actionbutton,
.box .box.red .widget-actionbutton,
.box .box .box.red .widget-actionbutton {
    &:extend(.btn-sm);
    color: #ffffff;
    background-color: var(--color-red);
    border-color: var(--color-red-dark);
}


.box.yellow,
.box .box.yellow,
.box .box .box.yellow {
    border-top-color: var(--color-orange-dark);
}
.yellow .colored,
.box.yellow h1,
.box.yellow h2,
.box.yellow h3,
.box.yellow .colored,
.box .box.yellow h1,
.box .box.yellow h2,
.box .box.yellow h3,
.box .box.yellow .colored,
.box .box .box.yellow h1,
.box .box .box.yellow h2,
.box .box .box.yellow h3,
.box .box .box.yellow .colored {
    color: var(--color-orange-dark) !important;
}
.box.yellow .widget-table-section-header td,
.box.yellow .crmbtp-subtotal td,
.box .box.yellow .widget-table-section-header td,
.box .box.yellow .crmbtp-subtotal td,
.box .box .box.yellow .widget-table-section-header td,
.box .box .box.yellow .crmbtp-subtotal td {
    background: #f7f7f7;
    border-top: 2px solid var(--color-orange);
    color: #000;
}
.yellow .widget-actionbutton {
    color: #ffffff;
    background-color: var(--color-orange);
    border-color: var(--color-orange-dark);
}
.box.yellow .widget-actionbutton,
.box .box.yellow .widget-actionbutton,
.box .box .box.yellow .widget-actionbutton {
    &:extend(.btn-sm);
    color: #ffffff;
    background-color: var(--color-orange);
    border-color: var(--color-orange-dark);
}



.box.green,
.box .box.green,
.box .box .box.green {
    border-top-color: var(--color-green-dark);
}
.green .colored,
.box.green h1,
.box.green h2,
.box.green h3,
.box.green .colored,
.box .box.green h1,
.box .box.green h2,
.box .box.green h3,
.box .box.green .colored,
.box .box .box.green h1,
.box .box .box.green h2,
.box .box .box.green h3,
.box .box .box.green .colored {
    color: var(--color-green-dark) !important;
}
.box.green .widget-table-section-header td,
.box.green .crmbtp-subtotal td,
.box .box.green .widget-table-section-header td,
.box .box.green .crmbtp-subtotal td,
.box .box .box.green .widget-table-section-header td,
.box .box .box.green .crmbtp-subtotal td {
    background: #f7f7f7;
    border-top: 2px solid var(--color-green);
    color: #000;
}
.green .widget-actionbutton {
    color: #ffffff;
    background-color: var(--color-green);
    border-color: var(--color-green-dark);
}
.box.green .widget-actionbutton,
.box .box.green .widget-actionbutton,
.box .box .box.green .widget-actionbutton {
    &:extend(.btn-sm);
    color: #ffffff;
    background-color: var(--color-green);
    border-color: var(--color-green-dark);
}



.box.blue,
.box .box.blue,
.box .box .box.blue {
    border-top-color: var(--color-lightblue-dark);
}
.blue .colored,
.box.blue h1,
.box.blue h2,
.box.blue h3,
.box.blue .colored,
.box .box.blue h1,
.box .box.blue h2,
.box .box.blue h3,
.box .box.blue .colored,
.box .box .box.blue h1,
.box .box .box.blue h2,
.box .box .box.blue h3,
.box .box .box.blue .colored {
    color: var(--color-lightblue-dark) !important;
}
.box.blue .widget-table-section-header td,
.box.blue .crmbtp-subtotal td,
.box .box.blue .widget-table-section-header td,
.box .box.blue .crmbtp-subtotal td,
.box .box .box.blue .widget-table-section-header td,
.box .box .box.blue .crmbtp-subtotal td {
    background: #f7f7f7;
    border-top: 2px solid var(--color-lightblue);
    color: #000;
}
.blue .widget-actionbutton {
    color: #ffffff;
    background-color: var(--color-lightblue);
    border-color: var(--color-lightblue-dark);
}
.box.blue .widget-actionbutton,
.box .box.blue .widget-actionbutton,
.box .box .box.blue .widget-actionbutton {
    &:extend(.btn-sm);
    color: #ffffff;
    background-color: var(--color-lightblue);
    border-color: var(--color-lightblue-dark);
}




.box.magenta,
.box .box.magenta,
.box .box .box.magenta {
    border-top-color: var(--color-purple-dark);
}
.magenta .colored,
.box.magenta h1,
.box.magenta h2,
.box.magenta h3,
.box.magenta .colored,
.box .box.magenta h1,
.box .box.magenta h2,
.box .box.magenta h3,
.box .box.magenta .colored,
.box .box .box.magenta h1,
.box .box .box.magenta h2,
.box .box .box.magenta h3,
.box .box .box.magenta .colored {
    color: var(--color-purple-dark) !important;
}
.box.magenta .widget-table-section-header td,
.box.magenta .crmbtp-subtotal td,
.box .box.magenta .widget-table-section-header td,
.box .box.magenta .crmbtp-subtotal td,
.box .box .box.magenta .widget-table-section-header td,
.box .box .box.magenta .crmbtp-subtotal td {
    background: #f7f7f7;
    border-top: 2px solid var(--color-purple);
    color: #000;
}
.magenta .widget-actionbutton {
    color: #ffffff;
    background-color: var(--color-purple);
    border-color: var(--color-purple-dark);
}
.box.magenta .widget-actionbutton,
.box .box.magenta .widget-actionbutton,
.box .box .box.magenta .widget-actionbutton {
    &:extend(.btn-sm);
    color: #ffffff;
    background-color: var(--color-purple);
    border-color: var(--color-purple-dark);
}



:root body {
 
  --color-red: #f56954;
  --color-pink: #e91e63;
  --color-purple: #7774BB;
  --color-deeppurple: #673ab7;
  
  --color-indigo: #3f51b5;
  --color-blue: #00c0ef;
  --color-lightblue: #00c0ef;
  --color-cyan: #00bcd4;
  
  --color-teal: #009688;
  --color-green: #00a65a;
  --color-lightgreen: #8bc34a;
  --color-lime: #cddc39;
  
  --color-yellow: #f39c12;
  --color-amber: #ffc107;
  --color-orange: #f39c12;
  --color-deeporange: #ff5722;
  
  --color-brown: #795548;
  
  --color-grey: #9e9e9e;
  
  --color-bluegrey: #607d8b;
  
  
  --color-red-dark: #dd4b39;
  --color-pink-dark: #c2185b;
  --color-purple-dark: #6663AA;
  --color-deeppurple-dark: #512da8;
  
  --color-indigo-dark: #303f9f;
  --color-blue-dark: #00acd6;
  --color-lightblue-dark: #00acd6;
  --color-cyan-dark: #0097a7;
  
  --color-teal-dark: #00796b;
  --color-green-dark: #008d4c;
  --color-lightgreen-dark: #689f38;
  --color-lime-dark: #afb42b;
  
  --color-yellow-dark: #e08e0b;
  --color-amber-dark: #ffa000;
  --color-orange-dark: #e08e0b;
  --color-deeporange-dark: #e64a19;
  
  --color-brown-dark: #5d4037;
  
  --color-grey-dark: #616161;
  
  --color-bluegrey-dark: #455a64;
}

@import "ovidentia.less";
