.widget-popup-menu {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #888;
    padding: 1px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .5);
}

.nav.navbar-nav.pull-right.widget-html {
    margin-top: ~"calc(-1 * var(--header-height))";
    background: transparent;
}

/** SMALL **/
.navbar-nav .open .dropdown-menu > li > a,
.navbar-nav .open .dropdown-menu .dropdown-header {
  padding: 15px 25px 15px 25px;
  border-top: 1px solid rgba(0,0,0,0.1);
}
.navbar-nav .open .dropdown-menu {
  position:fixed;
  left:50px;
  right:0px;
  top: var(--header-height);
  background: #fff;
  padding:0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar-nav {
  position:fixed;
  right:0;
  z-index:1;
  margin-right: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  overflow: hidden;
  white-space: nowrap;
  width: 40px;
  height: var(--header-height);
  padding: 13px 10px !important;
  margin-right:4px;
}

/** LARGE **/
@media (min-width: 768px) {
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
    border-top: 1px solid rgba(0,0,0,0.05);
  }
  .navbar-nav .open .dropdown-menu {
    position:fixed;
    left:auto;
    top: var(--header-height);
  }
  .navbar-nav {
    position: static;
    float: left;
    margin: 0;
    white-space: nowrap;
  }
  .navbar-nav > li > a {
    overflow: visible;
    width: auto;
    height: auto;
    padding: 13px !important;
    margin-right: 0;
  }
}
