<OFPutVar name="babSiteName">
<!--#begin login -->

{ $OVML(login.ovml, referer="referer", cnickname="c_nickname", life="life", nolife="nolife", oneday="oneday", oneweek="oneweek", onemonth="onemonth", oneyear="oneyear", infinite="infinite", login="login") }

<!--#end login -->




<!--#begin usercreate -->

<br>
	
<table border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabLoginMenuBackground" align="center" >{ infotxt }</td>
</tr></table>
  <br>
<form method="post" action="{ babPhpSelf }">

<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />

<input type="hidden" name="tg" value="login">

<input type="hidden" name="adduser" value="register">

<center>
    <table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
      <tr> 
        <td class="BabLoginCadreBackground" align="center" valign="middle"> 
          <table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
            <tr> 
              <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle"> 
                { firstname } : </td>
              <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle">
                <input type="text" name="firstname" size="30" maxlength="60" value="{ firstnameval }">
              </td>
            </tr>
            <tr> 
              <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle"> 
                { middlename } : </td>
              <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle">
                <input type="text" name="middlename" size="30" maxlength="60" value="{ middlenameval }">
              </td>
            </tr>
            <tr> 
              <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle"> 
                { lastname } : </td>
              <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle">
                <input type="text" name="lastname" size="30" maxlength="60" value="{ lastnameval }">
              </td>
            </tr>
            <tr> 
              <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle"> 
                { nickname } : </td>
              <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle">
                <input type="text" name="nickname" size="30" maxlength="60" value="{ nicknameval }">
              </td>
            </tr>
            <tr> 
              <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ 
                email } : </td>
              <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle">
                <input type="text" name="email" size="30" maxlength="60" value="{ emailval }">
              </td>
            </tr>
            <tr> 
              <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle"> 
                { password } : </td>
              <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle">
                <input type="password" name="password1" size="20" maxlength="15">
              </td>
            </tr>
            <tr> 
              <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle"> 
                { repassword } : </td>
              <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle">
                <input type="password" name="password2" size="20" maxlength="15">
              </td>
            </tr>
            <tr valign="middle"> 
              <td class="BabLoginMenuBackground" colspan="2" align="center">
                <input type="submit" name="Submit2" value="{ adduser }">
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </center>

</form>


<!--#end usercreate -->
<br>
<br><br><br><br>

<!--#begin emailpassword -->




<form method="post" action="{ babPhpSelf }">

<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />

<input type="hidden" name="tg" value="login" />

<input type="hidden" name="sendpassword" value="send" />

<center>
    <table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
      <tr> 
        <td class="BabLoginCadreBackground" align="center" valign="middle"> 
          <table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
            <tr> 
              <td width="30%" align="right" nowrap valign="middle">{ nickname } : </td>
              <td width="70%" align="left" valign="middle">
                <input type="text" name="nickname" size="30" maxlength="60" />
              </td>
            </tr>
            <tr valign="middle"> 
              <td  colspan="2" align="center">
                <input type="submit" name="Submit" value="{ send }" />
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </center>

</form>


<!--#end emailpassword -->

<!--#begin registration -->
<!--#if bphoto -->
<form method="post" action="{ babPhpSelf }" enctype="multipart/form-data">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<!--#else bphoto -->
<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<!--#endif bphoto -->
<input type="hidden" name="tg" value="login" />
<input type="hidden" name="adduser" value="register" />

<center>
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
	<table class="BabLoginMenuBackground"  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr>
		<td colspan="2" align="center"><br />{ infotxt1 }<br />{ infotxt2 }<br /><br /></td>
	</tr>
	
	<tr> 
	<td width="30%" align="right">{ nickname }<font color="red">*</font> : </td>
	<td><input type="text" name="nickname" size="30" maxlength="60" value="{ nicknameval }" /></td>
	</tr>
	<!--#in getnextfield -->
	<tr> 
	<td align="right">
	{ fieldname }<!--#if required "== Y" --><font color="red">*</font><!--#endif required --> :
	</td>
	<td>
	<!--#if bfieldphoto -->
	<input type="file" name="photof" size="30" maxlength="255" value="" />
	<!--#else bfieldphoto -->

	<!--#if multivalues -->
	<select name="fields[{ fieldv }]">
	<!--#if required "!= Y" -->
	<option value=""></option>
	<!--#endif required -->
	<!--#in getnextfxv -->
	<option value="{ fxvvalue }" { selected }>{ fxvvalue }</option>
	<!--#endin getnextfxv -->
	</select>
	<!--#else multivalues -->

	<!--#if fieldt "== N" -->
	<input type="text" name="fields[{ fieldv }]" size="40" value="{ fieldval }" />
	<!--#else fieldt -->
	<textarea cols="30" rows="4" name="fields[{ fieldv }]">{ fieldval }</textarea>
	<!--#endif fieldt -->

	<!--#endif multivalues -->

	<!--#endif bfieldphoto -->
	</td>
	</tr>
	<!--#endin getnextfield -->
	<tr> 
	<td align="right">{ password }<font color="red">*</font> : </td>
	<td><input type="password" name="password1" size="20" maxlength="15" />&nbsp;{ passwordlengthtxt }</td>
	</tr>
	<tr> 
	<td align="right">{ repassword }<font color="red">*</font> : </td>
	<td><input type="password" name="password2" size="20" maxlength="15" /></td>
	</tr>
	<!--#if bagree -->
	<tr> 
	<td align="right"><font color="red">*</font></td>
	<td><input type="checkbox" name="cagree" value="Y" { cagreechecked } />&nbsp;{ disclaimer }&nbsp;(&nbsp;<a href="javascript: Start('{ urlshowdp }', 'OviRegisterDP', 'width=600,height=1000,status=no,resizable=yes,top=10,left=200,scrollbars=yes');">{ readtxt }</a>&nbsp;)</td>
	</tr>
	<!--#endif bagree -->
	<!--#in getnextprofile -->
	<tr valign="middle"> 
	<td colspan="2" align="center">
		<table border="0" width="90%" cellpadding="2" cellspacing="0">
		<tr class="BabSiteAdminTitleFontBackground">
		<td width="1%">&nbsp;</td>
		<td>{ pdesc }<!--#if brequired --><font color="red">*</font><!--#endif brequired --> </td>
		</tr>
		
		<!--#if bmultiplicity -->
		<!--#in getnextgrp -->
		<!--#if altbg -->
		<tr class="BabSiteAdminFontBackground">
		<!--#else altbg -->
		<tr class="BabForumBackground1">
		<!--#endif altbg --> 
		<td valign="middle" width="1%" align="right"> 
		<input type="checkbox" name="grpids{ idprofile }[]" { grpcheck } value="{ grpid }">
		</td>
		<td valign="middle">{ grpdesc }</td>
		</tr>
		<!--#endin getnextgrp -->
		<!--#else bmultiplicity -->
		<tr class="BabSiteAdminTitleFontBackground">
		<td width="1%">&nbsp;</td>
		<td>
			<select name="grpids{ idprofile }[]">
			<option value=""></option>
			<!--#in getnextgrp -->
			<option value="{ grpid }" { grpcheck }>{ grpdesc }</option>
			<!--#endin getnextgrp -->
			</select>
		</td>
		</tr>
		<!--#endif bmultiplicity -->
		</tr>        
		</table>
	</td>
	</tr>
	<!--#endin getnextprofile -->
	
	<!--#if bUseCaptcha -->
	<tr>
		<td align="right">
			{ sCaptchaCaption1 }:
		</td>
		<td>
			{ sCaptchaSecurityData }
		</td>
	</tr>
	<tr>
		<td align="right">
			{ sCaptchaCaption2 }<font color="red">*</font>:
		</td>
		<td>
			<input type="text" name="sCaptchaSecurityCode" size="40" value="" />
		</td>
	</tr>
	<!--#endif bUseCaptcha -->
	
	<tr> 
	<td colspan="2" align="center"><font color="red">*</font>&nbsp;{ requiredtxt }</td>
	</tr>
	<tr> 
	<td colspan="2" align="center"><input type="submit" name="Submit2" value="{ adduser }" /></td>
	</tr>
	</table>
</td>
</tr>
</table>
</center>
</form>
<!--#end registration -->

<!--#begin displaydisclaimer -->
<br>
<table width="95%" cellpadding="0" cellspacing="0" align="center">
<tr> 
<td> 
<span style="background-color:#D1D1D9">&nbsp;{ title }&nbsp;</span>
</td>
</tr>
</table>
<table style="border:2px #D1D1D9 solid" width="95%" cellpadding="0" cellspacing="0" align="center">
<tr> 
<td class="BabTopicsBackground">
<br>
{ content }
<br>
</td>
</tr>
</table>
<!--#end displaydisclaimer -->

<!--#begin javaredirect -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
<meta http-equiv="Content-type" content="{ sContent }"/>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
 window.location="{ url }";
//-->
</script>

</HEAD>
<BODY>
<br /><br /><br />
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
	<table class="BabLoginMenuBackground"  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr>
		<td colspan="2" align="center">
			<p><br /><br /><a href="{ url }">{ next }</a><br /><br /></p>
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
</BODY>
</HTML>
<!--#end javaredirect -->

<!--#begin displayMessage -->
<script type="text/javascript">
//<![CDATA[
//]]>
</script>
<form name ="displayMessage" method="post" action="{ babPhpSelf }">
    <input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
	<input type="hidden" name="tg" value="{ m_datas[sTg] }" />
	<input type="hidden" name="cmd" value="{  m_datas[sCmd] }" />
	<table border="0" width="50%" cellspacing="0" cellpadding="2" align="center">
		<tr> 
			<td class="BabLoginCadreBackground">
				<table width="100%" border="0" cellspacing="0" cellpadding="10" class="BabLoginMenuBackground">
					<tr>
						<td style="font-weight:bold" align="left">
							{ m_datas[sMessage] }<br />
						</td>
					</tr>
					<tr>
						<td align="center" colspan="2">
							<input type="submit" value="{ m_datas[sBtnCaption] }">
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</form>
<!--#end displayMessage -->