


<!--#begin userregistration2 -->
<font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><br />
Bienvenue sur { babSiteName },<br>
<br>
Votre compte d'accès vient d'être créé avec les paramètres suivants : <br><br>
<ul>
<li>Identifiant : <strong>{ nickname }</strong></li>
<li>Mot de passe : <strong>{ pwd }</strong></li>
</ul>
<br>
Nous vous inviterons à personnaliser votre mot de passe lors de votre prochaine connexion.<br>
<br>
Cordialement.<br>
<br>
Merci de ne pas répondre à ce message qui est généré automatiquement
</font>
<!--#end userregistration2 -->



<!--#begin userregistrationtxt2 -->
Bienvenue sur { babSiteName },

Votre compte d'accès vient d'être créé avec les paramètres suivants :

Identifiant : { nickname }
Mot de passe : { pwd }


Nous vous inviterons à personnaliser votre mot de passe lors de votre prochaine connexion.

Cordialement.

Merci de ne pas répondre à ce message qui est généré automatiquement
<!--#end userregistrationtxt2 -->
